---
import Layout from '@/layouts/Layout.astro';

import PageContainer from '@/components/PageContainer.astro';
import NewsletterSignup from '@/components/NewsletterSignup.astro';

import opengraphImg from './_img/opengraph-image.jpg';

import heroImg from './_img/hero.jpg';
import heroImgMobile from './_img/hero-mobile.jpg';
---

<Layout
	title="Mustache Bash Info"
	openGraphImage={opengraphImg}
	openGraphTitle="Mustache Bash Info"
	openGraphDescription="A party, a reunion, an excuse to take pride in the dirty fuzz you fertilize above your upper lip. Whatever you call it, let it be known: The Mustache Bash is calling."
>
	<section id="hero">
		<PageContainer>
			<div class="graphics">
				<picture>
					<source media="(min-width: 680px)" srcset={heroImg.src}>
					<source srcset={heroImgMobile.src}>
					<img src={heroImg.src} alt="Mustache Bash FAQs">
				</picture>
			</div>
		</PageContainer>
	</section>

	<section id="intro">
		<PageContainer>
			<div class="intro-text">
				<h4>Questions? This info Guide should help you out.</h4>
				<p>
					Please check the website and FAQ before contacting The Mustache Bash. By doing so you can help limit the amount of mails in the mailbox and raise the reply time for questions which cannot be found on the website.
				</p>
			</div>
		</PageContainer>
	</section>

	<section id="faqs">
		<PageContainer>
			<div class="faq-header">
				<h3>Info & FAQS</h3>
				<h4>You Are Currently Viewing Info For: San Diego</h4>
			</div>

			<div class="faq-section">
				<h4>General Information</h4>
				<p>The Mustache Bash is a 21+ Festival. ID is required for wristband pickup and re-entry to the venue.</p>
				<p>Everyone is subject to search on entry to venue.</p>
				<p>The show will take place rain or shine.</p>
				<p>Lineup and set times are subject to change.</p>
				<p>Tickets are non-refundable.</p>
			</div>

			<div class="faq-section">
				<h4>General FAQ<small>s</small></h4>
				<dl>
					<dt>Where is The San Diego Mustache Bash This Year?</dt>
					<dd>Mariner's Point Park in Mission Beach San Diego. Here's the addy: 1215 Mariners Way, San Diego, CA 92109.</dd>

					<dt>Do I Have to be 21+ to Go?</dt>
					<dd>Booze flows like the salmon of Capistrano at the Bash, which means (you guessed it), the Mustache Bash is a 21+ event. Bring your photo ID with proof of age or you will be turned away at the gates.</dd>

					<dt>What Time Does the Party Start &amp; End?</dt>
					<dd>The funk kicks off at 2pm and doesn't stop until 10pm. Get here early; the lineup is stacked and you'll want to make the most of every precious moment.</dd>

					<dt>Can I Bring my Backpack or Purse?</dt>
					<dd>Small handbags, purses, and fanny packs not exceeding 8" x 10" will be permitted, as well as clear tote bags (including handbags and purses) that do not exceed 12" x 6" x 12". Oversized bags (backpacks, suitcases, beach bags, laptop bags, camera bags, etc.) and camelbacks will not be permitted. All persons and bags are subject to search and will be thoroughly inspected upon entry.</dd>

<!-- 					<dt>Can I Leave and Enter the Bash?</dt>
					<dd>Re-entry will not be permitted at the 2024 San Diego Mustache Bash. Fortunately, the venue has plenty of space to roam, and we'll provide everything you need for a full day of funk inside. Once you're in, you won't want to leave anyway.</dd>
 -->
					<dt>Should I Roll Solo?</dt>
					<dd>Don't worry if you couldn't convince your crew to join you. You're sure to meet plenty of new friends to replace your fuddy duddy pals. Sucks for them, FOMO is a mother.</dd>

					<dt>Will There be Food and Beverage?</dt>
					<dd>There will be food trucks with a variety of high-quality cuisine available on site to fill your bellies throughout the day and night, and the Stache Bash Bar will be fully stocked for the entire event. Food and beverages will be payable by mobile wallet or card only.</dd>

					<dt>Can I Volunteer?</dt>
					<dd>We are hiring a small crew of volunteers in exchange for entry. To inquire about volunteering, email us at <a href="mailto:contact@mustachebash.com">contact@mustachebash.com</a>.</dd>

					<dt>Can I Smoke or Vape at the Bash?</dt>
					<dd>Mariner's Point is a 100% smoke-free venue, and with that, the Bash is a NON-SMOKING event. No cigarettes, e-cigs, or vapes please.</dd>

					<dt>Can I Bring a Professional Camera?</dt>
					<dd>Cell phone cameras are permitted, and we encourage you to take tons of photos and tag @themustachebash! If they're extra funky, we'll share them on our socials. Cameras with detachable lenses will not be permitted. We have video and photo teams in place to catch all the magic moments, and we'll be sharing photos in a gallery after the event.</dd>

					<dt>Do I Have to Have a Mustache to Go?</dt>
					<dd>Mustaches are highly encouraged and you're bound to get some flack if you show up without one. That said, we understand that sometimes circumstances do not permit man fuzz, so we won't turn you away if you don't have one. But it'd be a lot cooler if you did.</dd>

					<dt>Do Girls Wear Mustaches Too?</dt>
					<dd>Ladies are not expected to grow a mustache. We're funky, not cruel! That said, some ladies do enjoy rocking fake mustaches or finger staches. Grab a sharpie and adorn your finger with the mo' of your liking.</dd>

					<dt>How Dressed Up Should I Get?</dt>
					<dd>It's tradition to go all out! Don't be the only goomba without a '70s get-up. A complimentary coat check is available, so get weird with your best digs! (Veteran tip: Faux fur goes hard)</dd>

					<dt>How Should I Get There &amp; Back?</dt>
					<dd>You're responsible for getting yourself safely to and from The Bash. Hop on a bus, bike, or your preferred car service. Please don't drink and drive.</dd>

					<dt>What if it Rains?</dt>
					<dd>Rain or shine, the Bash goes on. Besides, we've been Bashin' for 16 years, and never once has rain ruined our vibe. The Funk Gods are with us.</dd>
				</dl>
			</div>

			<div class="faq-section">
				<h4>Passes &amp; Wristbands</h4>
				<dl>
					<dt>How do I find my tickets?</dt>
					<dd>Immediately after purchase you will be shown and emailed a confirmation number with information on how to pull up your tickets for check in.</dd>

					<dt>How do I get in?</dt>
					<dd>
						Bring your ID and have your ticket confirmation page ready for the check-in booth at the gates. We'll handle the rest. Note: Printouts and screenshots of QR codes will not be accepted.
					</dd>

					<dt>Do The Mustache Bash Passes have a minimum age?</dt>
					<dd>Each guest must be 21+ in order to attend.</dd>

					<dt>Can I buy tickets for my friends?</dt>
					<dd>Any Basher can purchase up to four tickets, so go ahead and get one for your homies (they'll thank you later). That said, to help ward off scammers and make for shorter lines at check-in, you will need to arrive together and show your live confirmation page at check in.</dd>

					<dt>Are tickets available for resale on Ticketmaster/StubHub/Vivid Seats/etc.?
					<dd>NO! Anyone trying to sell you a ticket on resale platforms is a big fat jive turkey. Transfers are only available directly through us.</dd>

					<dt>If I'm buying a ticket second hand, how can I check if it's legit?</dt>
					<dd>Have the seller email us and CC you and we'll take it from there - <a href="mailto:contact@mustachebash.com">contact@mustachebash.com</a></dd>

					<dt>Can I transfer my festival pass to someone else?</dt>
					<dd>To transfer your order to someone else email us - <a href="mailto:contact@mustachebash.com">contact@mustachebash.com</a></dd>

					<dt>Can someone else pick up my order at the box office/will call?</dt>
					<dd>No, each guest needs to pick up their own wristband with their government issued ID.</dd>
				</dl>
			</div>

			<div class="faq-section">
				<h4>Orders</h4>
				<dl>
					<dt>I didn't get an email, what should I do?</dt>
					<dd>Drop us a line at <a href="mailto:contact@mustachebash.com">contact@mustachebash.com</a> and we'll get you squared away.</dd>
				</dl>
			</div>

			<div class="faq-section">
				<h4>Contact</h4>
				<dl>
					<dt>If You Don't Know - Now You Know</dt>
					<dd>If you have additional questions not covered on this list, or elsewhere on the site, feel free to drop us a line at <a href="mailto:contact@mustachebash.com">contact@mustachebash.com</a></dd>
				</dl>
			</div>
		</PageContainer>
	</section>

	<NewsletterSignup />
</Layout>

<style>
	#hero {
	    background: #dfe3e6;
	    box-sizing:border-box
	}

	#hero .container-1230 {
	    position:relative
	}

	@media (max-width: 600px) {
	    #hero {
	        background: #dfe3e6;
	        height: auto;
	        padding-bottom:3em
	    }
	}

	#hero .graphics {
	    margin-left: -1.875em;
	    margin-right:-1.875em
	}

	#hero .graphics img, #hero .graphics picture {
	    max-width:100%
	}

	#intro {
	    background-color: #dfe3e6;
	    overflow:hidden
	}

	#intro .intro-text h4 {
	    color: #000;
	    line-height: 1em;
	    text-align:center
	}

	#intro .intro-text p {
	    color: #000;
	    font-size: 1.125em;
	    margin: 0 auto 2em;
	    max-width: 900px;
	    text-align:center
	}

	#faqs {
	    background: #000;
	    padding-bottom: 2em;
	    padding-top:6em
	}

	#faqs dd, #faqs dt, #faqs h3, #faqs h4, #faqs p {
	    color:#fff
	}

	#faqs .faq-header {
	    margin-bottom:4rem
	}

	#faqs .faq-header h3, #faqs .faq-header h4 {
	    margin-bottom: 0;
	    margin-top: 0;
	    text-align:center
	}

	#faqs .faq-section {
	    margin-bottom:4em
	}

	#faqs .faq-section h4 {
	    color: #f3e339;
	    text-align:left
	}

	#faqs .faq-section a {
	    color: #fff;
	    text-decoration:underline
	}

	#faqs .faq-section dl {
	    margin:0
	}

	#faqs .faq-section dt {
	    font-family: league-gothic, Helvetica, Arial, sans-serif;
	    font-size: 26px;
	    font-weight: 500;
	    letter-spacing: 1px;
	    margin-top:1.5em
	}

	#faqs .faq-section dt:before {
	    content: "– "
	}

	#faqs .faq-section dd {
	    font-size: 14px;
	    margin:1em 0
	}

</style>
