---
import PageContainer from './PageContainer.astro';

const { id } = Astro.props;
---

<section id={id}>
	<PageContainer>
		<!-- non-breaking space for mobile -->
		<h4>Get all the bash updates to&nbsp;your&nbsp;inbox</h4>
		<form method="post" action="/" name="newsletter" class="flex-row">
			<fieldset class="newsletter-name">
				<label data-error-message="Please enter your first and last name">Full Name</label>
				<input type="text" name="newsletter-name" placeholder="Your Name" maxlength="75" />
			</fieldset>
			<fieldset class="newsletter-email">
				<label data-error-message="Please enter your email">Email</label>
				<input type="email" name="newsletter-email" placeholder="Enter your email" maxlength="75" />
			</fieldset>
			<fieldset class="submit">
				<button type="submit" id="newsletter-submit" class="yellow rounded">Sign Up</button>
			</fieldset>
		</form>
		<h5 class="newsletter-success">You've successfully signed up!</h5>
	</PageContainer>
</section>
<style>
	section {
		padding-top: 2em;
		background: url('./img/newsletter.jpg') #ffffff no-repeat;
		background-size: cover;
		background-position: center center;
	}
	h4 {
		color: #ffffff;
		text-align: center;
	}
	.newsletter-success {
		max-width: 48.125rem;
		margin: 1em auto 0;
		visibility: hidden;
		text-align: center;
	}
	@media (min-width: 601px) {
		.newsletter-success {
			margin: 0 auto -1.25em;
		}
	}
	form {
		max-width: 48.125em;
		margin: 0 auto;
	}
	fieldset {
		flex: 1 0 auto;
		margin: 0 0.3125em;
	}
	fieldset.submit {
		margin-top: 0.85em;
	}
	fieldset.submit button {
		width: 100%;
	}
	label {
		color: #ffffff;
	}
	input[type='text'],
	input[type='email'] {
		color: #ffffff;
		border-color: #ffffff;
	}
</style>
<script>
	import { API_HOST } from 'astro:env/client';

	const form = document.querySelector('form[name="newsletter"]') as HTMLFormElement,
		nameInput = document.querySelector('input[name="newsletter-name"]') as HTMLInputElement,
		emailInput = document.querySelector('input[name="newsletter-email"]') as HTMLInputElement,
		nameFieldset = document.querySelector('fieldset.newsletter-name') as HTMLFieldSetElement,
		emailFieldset = document.querySelector('fieldset.newsletter-email') as HTMLFieldSetElement,
		submitButton = document.querySelector('#newsletter-submit') as HTMLButtonElement,
		successMessage = document.querySelector('.newsletter-success') as HTMLElement;

	let submitting = false;

	form.addEventListener('submit', e => {
		e.preventDefault();

		const fullName = nameInput.value;
		const email = emailInput.value;

		// Not much name validation - your bad if you put in a fake name for a guest list
		const nameValid = fullName && fullName.trim().split(' ').length >= 2;
		nameFieldset.classList.toggle('invalid', !nameValid);

		// There's no such thing as a simple email validator - but again, your bad if you put in a shit email for confirmation
		const emailValid = email && /^\S+@\S+\.\S{2,}$/.test(email.trim());
		emailFieldset.classList.toggle('invalid', !emailValid);

		if (!nameValid || !emailValid || submitting) return;

		const subscriber = {
			email: email.trim(),
			firstName: fullName.trim().split(' ')[0] ?? '',
			lastName: fullName.trim().split(' ').slice(1).join(' ')
		};

		submitting = true;
		const previousButtonText = submitButton.innerText;
		submitButton.innerText = 'Signing Up...';
		submitButton.disabled = true;

		fetch(API_HOST + '/v1/sites/mustachebash.com/mailing-list', {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(subscriber)
		})
			.then(response => {
				if (response.status >= 400) {
					const err: Error & { status?: number } = new Error(response.statusText);
					err.status = response.status;
					throw err;
				}
			})
			.then(() => {
				nameInput.value = '';
				emailInput.value = '';
				successMessage.style.visibility = 'visible';
			})
			.catch(e => {
				// eslint-disable-next-line
				alert('Sign Up Failed, please check your subscriber details and try again');
				console.error('Newsletter Error', e);
			})
			.finally(() => {
				submitting = false;
				submitButton.innerText = previousButtonText;
				submitButton.disabled = false;
			});
	});
</script>
