---
import { Image } from 'astro:assets';

type Props = {
	src: ImageMetadata;
	alt: string;
};

const { src, alt } = Astro.props as Props;
---

<div class="wrap">
	<Image src={src} alt={alt} />
</div>
<style>
	.wrap img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
</style>
