---
import Layout from '@/layouts/Layout.astro';

import PageContainer from '@/components/PageContainer.astro';
import NewsletterSignup from '@/components/NewsletterSignup.astro';

import opengraphImg from './_img/opengraph-image.jpg';

import heroImg from './_img/hero.jpg';
import heroImgMobile from './_img/hero-mobile.jpg';
---

<Layout
	title="Mustache Bash Info"
	openGraphImage={opengraphImg}
	openGraphTitle="Mustache Bash Info"
	openGraphDescription="A party, a reunion, an excuse to take pride in the dirty fuzz you fertilize above your upper lip. Whatever you call it, let it be known: The Mustache Bash is calling."
>
	<section id="hero">
		<PageContainer>
			<div class="graphics">
				<picture>
					<source media="(min-width: 680px)" srcset={heroImg.src}>
					<source srcset={heroImgMobile.src}>
					<img src={heroImg.src} alt="Mustache Bash FAQs">
				</picture>
			</div>
		</PageContainer>
	</section>

	<section id="intro">
		<PageContainer>
			<div class="intro-text">
				<h4>Questions? This info Guide should help you out.</h4>
				<p>
					Please check the website and FAQ before contacting The Mustache Bash. By doing so you can help limit the amount of mails in the mailbox and raise the reply time for questions which cannot be found on the website.
				</p>
			</div>
		</PageContainer>
	</section>


	<NewsletterSignup />
</Layout>

<style>
	#hero {
	    background: #dfe3e6;
	    box-sizing:border-box
	}

	#hero .container-1230 {
	    position:relative
	}

	@media (max-width: 600px) {
	    #hero {
	        background: #dfe3e6;
	        height: auto;
	        padding-bottom:3em
	    }
	}

	#hero .graphics {
	    margin-left: -1.875em;
	    margin-right:-1.875em
	}

	#hero .graphics img, #hero .graphics picture {
	    max-width:100%
	}

	#intro {
	    background-color: #dfe3e6;
	    overflow:hidden
	}

	#intro .intro-text h4 {
	    color: #000;
	    line-height: 1em;
	    text-align:center
	}

	#intro .intro-text p {
	    color: #000;
	    font-size: 1.125em;
	    margin: 0 auto 2em;
	    max-width: 900px;
	    text-align:center
	}

	#faqs {
	    background: #000;
	    padding-bottom: 2em;
	    padding-top:6em
	}

	#faqs dd, #faqs dt, #faqs h3, #faqs h4, #faqs p {
	    color:#fff
	}

	#faqs .faq-header {
	    margin-bottom:4rem
	}

	#faqs .faq-header h3, #faqs .faq-header h4 {
	    margin-bottom: 0;
	    margin-top: 0;
	    text-align:center
	}

	#faqs .faq-section {
	    margin-bottom:4em
	}

	#faqs .faq-section h4 {
	    color: #f3e339;
	    text-align:left
	}

	#faqs .faq-section a {
	    color: #fff;
	    text-decoration:underline
	}

	#faqs .faq-section dl {
	    margin:0
	}

	#faqs .faq-section dt {
	    font-family: league-gothic, Helvetica, Arial, sans-serif;
	    font-size: 26px;
	    font-weight: 500;
	    letter-spacing: 1px;
	    margin-top:1.5em
	}

	#faqs .faq-section dt:before {
	    content: "– "
	}

	#faqs .faq-section dd {
	    font-size: 14px;
	    margin:1em 0
	}

</style>
