//
// Variables
// --------------------------------------------------

@black : #303032;
@white : #ffffff;
@off-white: #f7f1df;
@gray: #e3e3e3;
@chocolate : #8e664f;
@caramel : #af7644;
@clay : #9c6456;
@burgundy : #602a34;
@orange : #e68149;
@sky: #818ed9;
@blue : #5472ea;
@navy : #0e2245;
@cream : #efd188;

// Typography
@proxima : 'proxima-nova', Helvetica, Arial, sans-serif;
@league : 'league-gothic', Helvetica, Arial, sans-serif;
@brandon : 'brandon-grotesque', Helvetica, Arial, sans-serif;

// Breakpoints
@small-mobile : 321px; // iPhone 5, smaller phones
@android : 361px;
@mobile : 600px; // Start catching big mobile phones
@tablet : 769px;
@desktop : 1230px; // Use max container width here
@desktop-wide : 1400px; // Use PSD document bounds

// Typography
body {
	font: 16px @proxima;
	-webkit-font-smoothing: antialiased;
	color: @navy;
	// This stops the insanity regarding an entire div getting highlighted when adding tickets
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h3 {
	font-family: @brandon;
	font-weight: 900;
	font-size: 3.75em; /* 60/16 */
	letter-spacing: -1px;
	margin: 0 0 0.5em;
	text-transform: uppercase;

	@media (max-width: @mobile) {
		font-size: 2.5em; /* 40/16 */
		margin-bottom: 0.125em;
	}
}

h4 {
	font-family: @league;
	font-size: 1.875em; /* 30/16 */
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0.5em 0;

	@media (max-width: @mobile) {
		font-size: 1.375em; /* 22/16 */
		margin: 0.75em 0;
	}
}

h5 {
	font-family: @league;
	font-size: 1.375em; /* 22/16 */
	font-weight: 400;
	letter-spacing: 1px;
	color: @sky;
	margin: 0;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: @navy;
}

input[type="text"],
input[type="email"],
select {
	-webkit-appearance: none;
	display: block;
	position: relative;
	height: 2.1875em; /* 35/16 */
	padding: 0 1em;
	margin-bottom: 1em;
	box-sizing: border-box;
	width: 100%;
	background: none;
	border: 1px solid @navy;
	border-radius: 0;
	font: 400 16px @proxima;
	color: @navy;
	outline: 0;
	transition: box-shadow 200ms;

	@media (min-width: @mobile) {
		font-weight: 600;
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 4px 1px fade(@navy, 30%);
	}

	&:disabled {
		opacity: .7;
	}
}

.select-wrap {
	position: relative;

	select {
		margin-bottom: 0;
	}

	&:after {
		content: '';
		position: absolute;
		display: block;
		height: 0;
		width: 0;
		right: 1em;
		top: 50%;
		transform: translateY(-25%);
		border: 5px solid transparent;
		border-top-color: @navy;
		pointer-events: none;
	}
}

fieldset {
	display: block;
	border: 0;
	background: none;
	padding: 0;
	margin: 0;

	&.invalid {
		input[type="text"],
		input[type="email"] {
			border-color: @sky;
		}

		label {
			position: relative;

			&:after {
				content: attr(data-error-message);
				display: inline-block;
				margin-left: 1em;
				color: @white;
				background: @sky;
				padding: 0 1em;

				@media (max-width: @mobile) {
					white-space: nowrap;
					position: absolute;
					right: 0;
				}
			}

			&:before {
				content: '!';
				display: block;
				position: absolute;
				right: 1em;
				top: 2em;
				text-align: center;
				width: 20px;
				height: 20px;
				line-height: 20px;
				border-radius: 100%;
				color: @white;
				background: @sky;
			}
		}
	}
}

::placeholder {
	color: fade(@navy, 50%);
}

label {
	display: block;
	margin-bottom: 0.25em;
	font-size: 0.75em; /* 12/16 */
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

button {
	-webkit-appearance: none;
	background: @navy;
	border: none;
	color: @white;
	font-family: @proxima;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	width: 10.625em; /* 170/16 */
	text-align: center;
	padding: .75em 0;
	cursor: pointer;
	transition: background-color 200ms;

	&:hover {
		background-color: lighten(@navy, 10%);
	}

	&:active {
		box-shadow: inset 0 0 6px 0 darken(@navy, 10%);
	}
}
