//
// Variables
// --------------------------------------------------

@gray : #303032;
@grey : @gray;
@light-gray : #4c4c4c;
@light-grey : @light-gray;
@teal : #12a89d;
@red : #e25740;
@black : #303032;
@white : #f2f2f2;
@pink : #ff4284;
@purple : #4f005e;
@cream: #ffeda5;

// Typography
@proxima : 'proxima-nova', Helvetica, Arial, sans-serif;
@league : 'league-gothic', Helvetica, Arial, sans-serif;
@brandon : 'brandon-grotesque', Helvetica, Arial, sans-serif;

// Text Color
@text-color : #555;

// Breakpoints
@small-mobile : 321px; // iPhone 5, smaller phones
@mobile : 600px; // Start catching big mobile phones
@tablet : 769px;
@desktop : 1230px; // Use max container width here
@desktop-wide : 1400px; // Use PSD document bounds

// Typography
body {
	font: 16px @proxima;
	-webkit-font-smoothing: antialiased;
	color: @light-gray;
}

h3 {
	font-family: @brandon;
	font-weight: 700;
	margin: 20px 0 0 0;
}

h2,
h4 {
	font-family: @league;
	font-size: 24px;
	font-weight: 100;
}

a {
	text-decoration: none;
	color: @pink;
}

fieldset {
	display: block;
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="email"],
select {
	-webkit-appearance: none;
	display: block;
	height: 40px;
	padding: 0 2em;
	margin-bottom: 20px;
	box-sizing: border-box;
	width: 100%;
	background: none;
	border: 1px solid @gray;
	border-radius: 0;
	font: 400 16px @proxima;
	color: @gray;
	outline: 0;
	transition: box-shadow 200ms;

	@media (min-width: @mobile) {
		font-weight: 600;
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 4px 1px @gray;
	}

	&:disabled {
		opacity: .7;
	}
}

label {
	display: block;
	margin-bottom: 0.5em;
}

.select-wrap {
	position: relative;

	&:after {
		content: '';
		pointer-events: none;
		position: absolute;
		display: block;
		height: 0;
		width: 0;
		right: 1em;
		top: 50%;
		margin-top: -3px;
		border: 6px solid transparent;
		border-top-color: @black;
	}
}

button {
	-webkit-appearance: none;
	font-family: @proxima;
	cursor: pointer;
}
