<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>The Mustache Bash</title>

	<meta property="og:title" content="11th Annual Mustache Bash">
	<meta property="og:description" content="A party, a reunion, an excuse to take pride in the dirty fuzz you fertilize above your upper lip. Whatever you call it, let it be known: The Mustache Bash is back.">
	<meta property="og:url" content="https://mustachebash.com">
	<meta property="og:image" content="https://mustachebash.com/img/fro-man.png">
	<meta property="og:site_name" content="The Mustache Bash">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="stache bash, mustache bash, san diego mustache bash, 1970s">
	<meta name="description" content="A party, a reunion, an excuse to take pride in the dirty fuzz you fertilize above your upper lip. Whatever you call it, let it be known: The Mustache Bash is back.">

	<link rel="stylesheet" href="https://use.typekit.net/muu7yxk.css">

	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38968259-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-38968259-2');
	</script>
</head>

<body>
	<header class="stuck">
		<div class="container-1230">
			<div class="logo"></div>
			<div id="menu-icon">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<nav>
				<ul>
					<li><a href="#venue">VENUE</a></li>
					<li><a href="#history">TRADITION</a></li>
					<li><a href="#gallery">GALLERY</a></li>
					<li><a href="#faq">INFO</a></li>
					<li class="social">
						<a href="https://www.facebook.com/MustacheBashSD/" target="_blank">
							<svg class="facebook-icon social-icon" aria-labelledby="simpleicons-facebook-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-facebook-icon">Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"/></svg>
						</a>
					</li>
					<li class="social">
						<a href="https://www.instagram.com/themustachebash" target="_blank">
							<svg class="instagram-icon social-icon" aria-labelledby="simpleicons-instagram-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-instagram-icon">Instagram icon</title><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/></svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="hero">
		<a href="https://www.facebook.com/MustacheBashSD/" target="_blank" class="cta">Stay Tuned!</a>
	</section>

	<section class="intro-section">
		<p class="intro">
			Call it a party. Call it celebration. Call it an excuse to pay homage to the decade of free-spirited funk. <br>
			Whatever you call it, let it be known: It's The San Diego Mustache Bash, and it's finally back for its 11th anniversary!
		</p>
	</section>

	<section id="venue" class="sections">
		<div class="container-1230">
			<div class="half-contain">
				<h3>VENUE</h3>
				<h4>THE PORT PAVILION ON BROADWAY PIER</h4>
				<p>Located on the water along Downtown San Diego’s North Embarcadero, The Port Pavilion on Broadway Pier is the ideal setting for a funk fiasco with panoramic views of the waterfront and San Diego’s iconic downtown cityscape.</p>
				<p>We’re also opening up the doors to the inside this year, adding 50,000 square feet of space and an additional Disco Club Stage featuring a funkadelic dance party with an electronic twist.</p>
				<a class="ghost-button" target="_blank" href="https://www.google.com/maps/place/1000+N+Harbor+Dr,+San+Diego,+CA+92132/@32.7157177,-117.1777709,17z/data=!3m1!4b1!4m5!3m4!1s0x80deab548e31ea99:0xd1d354b4e4b2254!8m2!3d32.7157177!4d-117.1755822">GET DIRECTIONS</a>
			</div>
		</div>
	</section>

	<section id="history" class="sections">
		<div class="container-1230">
			<h3 class="history-title">STACHE BASH HISTORY</h3>
			<h4>THE TRADITION</h4>
			<p>
				In Spring 2007, an innovative crowd envisioned a celebration, a Bash no less, in ode to the one thing that separates the boys from the men. What started with humble roots as an off-the- wall house party is now a monumental San Diego extravaganza. It’s The 11th Annual Mustache Bash, and you’re invited.
			</p>
			<p>
				Come March, we’ll have ballrooms, bartenders and bands. Bells will ring. Bass will thump. Chicks will flock. Men will migrate. The mustache, the bush, the bellbottom will reign once more. So break out your fro picks, dust off the snake skin pants, stock up on funkadelics and soak your peach fuzz with Rogaine. Summon your inner 70’s porn star – it’s got business to tend to.
			</p>
		</div>
	</section>

	<section id="gallery">
		<div id="slide-container">
			<div class="poster active"></div>
			<div class="slide-1"></div>
			<div class="slide-2"></div>
			<div class="slide-3"></div>
			<div class="slide-4"></div>
			<div class="slide-5"></div>
			<div class="slide-6"></div>
			<div class="slide-7"></div>
			<div class="slide-8"></div>
		</div>
		<div id="prev-slide"></div>
		<div id="next-slide"></div>
	</section>

	<section id="faq" class="sections">
		<div class="container-1230">
			<h3>FREQUENTLY ASKED QUESTIONS</h3>
			<div class="row">
				<div class="faq-column">
					<div class="faq">
						<h5>Where is The Mustache Bash This Year?</h5>
						<p>The Bash will be Downtown San Diego at The Port Pavillion on Broadway Pier - 1000 N. Harbor Drive, San Diego, California 92101.</p>
					</div>
					<div class="faq">
						<h5>Do I Have to be 21 to Go?</h5>
						<p>The Mustache Bash is a 21+ event. Make sure to bring your photo ID with proof of age or you will be turned away at the door.</p>
					</div>
					<div class="faq">
						<h5>What Time Does the Party Start &amp; End?</h5>
						<p>Doors open at 2:00 P.M. and close at 10:00 P.M. Pace yourself people, you're going to want to stay till the end for this one!</p>
					</div>
					<div class="faq">
						<h5>Can I Get a Ticket at the Door?</h5>
						<p>Yes, if there’s space, however it’s highly encouraged to purchase a ticket as soon as possible. Day-of tickets will cost more and be in extremely limited supply.</p>
					</div>
				</div>
				<div class="faq-column">
					<div class="faq">
						<h5>Can I Invite My Friends?</h5>
						<p>The more the merrier. We welcome newcomers with open arms. Invite anyone who might be interested in coming and help spread the word.</p>
					</div>
					<div class="faq">
						<h5>I'm From Out of Town. Is it Worth the Trip?</h5>
						<p>It most definitely is! We've hosted bashers from halfway around the world. Book your tickets and plan your trips now. You won't want to miss this.</p>
					</div>
					<div class="faq">
						<h5>Should I Bring Cash?</h5>
						<p>It’s encouraged to bring cash for speedy service, but our bar will accept cards this year. There is also an ATM on site.</p>
					</div>
					<div class="faq">
						<h5>Will There be Food and Beverage?</h5>
						<p>There will be gourmet food trucks on site to fill your bellies throughout the day and night, and the newly expanded 11th Anniversary Stache Bash Bar will be fully stocked and staffed with double the amount of bartenders from last year.</p>
					</div>
				</div>
				<div class="faq-column">
					<div class="faq">
						<h5>Do I Have to Have a Mustache to Go?</h5>
						<p>No stache, no bash has been our motto since the beginning, but we won’t turn you away. Every funky, fun-loving soul is welcome!</p>
					</div>
					<div class="faq">
						<h5>Do Girls Wear Mustaches Too?</h5>
						<p>Some ladies rock a fake stache, but it’s not exactly encouraged. Grab a sharpie and adorn your finger with the stache of your liking.</p>
					</div>
					<div class="faq">
						<h5>How Dressed Up Should I Get?</h5>
						<p>Going all out is a Stache Bash tradition! Don’t be the only goof without a ‘70s get-up.</p>
					</div>
					<div class="faq">
						<h5>How Should I Get There &amp; Back?</h5>
						<p>You're responsible for getting yourself safely to and from The Bash. Promo codes for ride shares will be announced closer to the event date.</p>
					</div>
				</div>
			</div>
			<div id="additional-questions">
				<h5>If You Don't Know - Now You Know</h5>
				<p>
					If you have additional questions not covered in this list, or elsewhere on the site,<br>
					feel free to drop us a line at <a href="mailto:contact@mustachebash.com">contact@mustachebash.com</a>
				</p>
			</div>
		</div>
	</section>

	<footer>
		<img id="fro-man" src="/img/footer-froman.png" alt="Mustache Bash">
		<nav>
			<ul>
				<li><a href="#venue">VENUE</a></li>
				<li><a href="#history">TRADITION</a></li>
				<li><a href="#gallery">GALLERY</a></li>
				<li><a href="#faq">INFO</a></li>
			</ul>
		</nav>
		<aside class="social">
			<a href="https://www.facebook.com/MustacheBashSD/">
				<svg class="facebook-icon social-icon" aria-labelledby="simpleicons-facebook-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-facebook-icon">Facebook icon</title><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"/></svg>
			</a>
			<a href="https://www.instagram.com/themustachebash/" target="_blank">
				<svg class="instagram-icon social-icon" aria-labelledby="simpleicons-instagram-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="simpleicons-instagram-icon">Instagram icon</title><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/></svg>
			</a>
			<a class="instagram-link" href="instagram://tag?name=stachebashsd" target="_blank">#STACHEBASHSD</a>
		</aside>
		<p id="privacy-refund">
			<a href="/privacy-policy" target="_blank">Privacy Policy</a> -
			All Sales are Final
		</p>
		<p id="copyright">
			&copy;2017 Mustache Bash. All Rights Reserved.
		</p>
	</footer>
</body>
</html>
