@import 'base.less';

body {
	padding-top: 5.625em; /* 90/16 */
}

@container-padding: 1.875em;
.container-1230 {
	position: relative;
	max-width: 1230px;
	box-sizing: border-box;
	padding: 0 @container-padding; /* 30/16 */
	margin: 0 auto;
}

.no-mobile {
	@media (max-width: @mobile) {
		display: none;
	}
}

.mobile-only {
	@media (min-width: @mobile) {
		display: none;
	}
}

.flex-row {
	display: flex;

	@media (max-width: @mobile) {
		&:not(.flex-row-mobile) {
			flex-direction: column;
		}
	}
}

.img-wrap {
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.ghost-button {
	display: block;
	border: 1px solid @fudge;
	color: @fudge;
	font-size: 1em; /* 16/16 */
	text-transform: uppercase;
	font-weight: 700;
	width: 10.625em; /* 170/16 */
	padding: 0.5em 0;
	text-align: center;
	transition: color, background-color, .2s;

	&:hover {
		background: @fudge;
		color: @white;
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		padding: 0;
		margin: 0 0.625em 1em; /* 10/16 */ /* 20/16 */
		font-family: @brandon;
		font-size: 1.625em; /* 26/16 */
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;

		@media (min-width: @mobile) {
			margin-bottom: 0;
			display: inline-block;
			font-size: 0.875em; /* 14/16 */
			margin: 0 0.3125em; /* 5/16 */
		}

		@media (min-width: @tablet) {
			margin: 0 0.625em; /* 10/16 */
		}
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5.625em; /* 90/16 */
	padding-top: 1.25em; /* 20/16 */
	box-sizing: border-box;
	background: @fudge;
	z-index: 9999;

	.logo {
		flex: 0 3 7.375em;
		width: 7.375em; /* 118/16 */

		@media (max-width: @mobile) {
			position: relative;
			top: 4px;
			width: 6em; /* 96/16 */
			flex: 0 3 6em;
		}
	}

	nav {
		flex: 1 0;
		overflow: hidden;
		max-height: 0;
		box-sizing: border-box;
		padding-top: 0.75em; /* 12/16 */
		transition: max-height 300ms;

		@media (max-width: @mobile) {
			position: absolute;
			left: 0;
			top: 0; /* 90/16 */
			width: 100%;
			background: @fudge;
			padding-top: 0;
			height: 100vh;
		}

		@media (min-width: @mobile) {
			max-height: 100vh;
		}

		ul {
			text-align: right;
		}

		a {
			text-transform: uppercase;
			color: @off-white;
		}
	}

	#menu-icon {
		position: absolute;
		width: 30px;
		top: 1em;
		right: 1.875em; /* 30/16 */
		z-index: 99999;

		div {
			height: 4px;
			background: @white;
			margin-bottom: 4px;
			transition: all 300ms;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: @mobile) {
			display: none;
		}

		&.open {
			div {
				opacity: 0;

				&:first-child,
				&:last-child {
					opacity: 1;
				}

				&:first-child {
					transform: rotate(45deg) translate3d(5px, 6px, 0);
				}

				&:last-child {
					transform: rotate(-45deg) translate3d(5px, -6px, 0);
				}
			}

			+ nav {
				max-height: 1000px;
			}
		}
	}

	.social {
		display: none;
		width: 20px;
		margin: 0;
		margin-left: 15px;
		position: relative;
		top: 4px;

		.social-icon {
			fill: @off-white;
		}

		@media (min-width: @mobile) {
			display: inline-block;
		}
	}
}

#hero {
	background: @mustard;
	box-sizing: border-box;
	padding-top: 5.625em; /* 90/16 */
	height: 31.875em; /* 510/16 */

	@media (max-width: @mobile) {
		height: auto;
		padding-top: 3em;
		padding-bottom: 3em;
	}

	.graphics {
		@media (min-width: @tablet + 1) {
			display: flex;

			.title {
				margin-left: -2em;
			}

			.info {
				margin-top: -1.5625em; /* 25/16 */
				margin-bottom: -11.25em; /* 180/16 */
			}
		}

		@media (max-width: @tablet) {
			.title {
				svg {
					width: 100%;
				}
			}

			.info {
				margin: 2em -@container-padding -7em;
				overflow: hidden;
				text-align: center;

				svg {
					position: relative;
					margin-left: -15vw;
					width: 120vw;
				}
			}
		}
	}

	.cta {
		position: relative;
		z-index: 3;

		@media (max-width: @tablet) {
			margin-left: 10em;
		}

		@media (min-width: @tablet + 1) {
			width: 14em;
			margin-left: 12.75em; /* 244/16 */
			text-align: center;
		}

		p {
			font-family: @brandon;
			font-size: 20px;
			margin: 0;
			font-weight: bold;
			text-transform: uppercase;

			@media (max-width: @tablet) {
				font-size: 14px;
			}
		}
	}
}

#tagline {
	background-color: @salmon;
	padding: 2em 0; /* 50/16 */

	h3 {
		font-family: @brandon;
		font-weight: 900;
		font-size: 1.375em; /* 22/16 */
		color: @off-white;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: .5em;
		padding: 0;
		line-height: 1em;
		text-align: center;

		&.fudge {
			color: @fudge;
			margin: 0;
		}
	}

	@media (max-width: @mobile) {
		padding: 2.1875em 0; /* 35/16 */

		h3 {
			font-size: 1.125em; /* 18/16 */
			margin-bottom: 0;
			line-height: 1.5em;
		}
	}
}

#video {
	background: url('/img/video-cover.jpg') center no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height: 49.3125em; /* 789/16 */
	position: relative;

	@media (max-width: @mobile) {
		background-image: url('/img/video-cover-mobile.jpg');
		height: 18.9375em; /* 303/16 */
	}

	a {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

#lineup {
	padding-top: 6.25em; /* 100/16 */

	@media (max-width: @mobile) {
		padding-top: 1.75em;
	}

	h3 {
		text-align: center;
	}

	.lineup-image {
		margin-bottom: 6.25em; /* 100/16 */

		@media (max-width: @mobile) {
			margin-bottom: 2em;
		}
	}

	.flex-row {
		justify-content: space-between;

		@media (max-width: @mobile) {
			display: block;
		}
	}

	.bands {
		margin-bottom: 3em;
	}

	.tuxedo-image {
		overflow: hidden;
		background: url('/img/band-tuxedo.jpg') top left no-repeat;
		background-size: 100% auto;

		&:after {
			content: '';
			display: block;
			margin-top: 34.188034%;
		}

		@media (max-width: @mobile) {
			background-image: url('/img/band-tuxedo-mobile.jpg');

			&:after {
				margin-top: 70.30625832%;
			}
		}
	}

	.band {
		box-sizing: border-box;
		flex: 1 1 50%;
		margin-bottom: 3em;

		img {
			width: 100%;
		}

		@media (min-width: @mobile) {
			&:first-child {
				margin-right: 1em;
			}

			&:last-child {
				margin-left: 1em;
			}
		}
	}
}

#venue {
	background-color: @mustard;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		color: @salmon;
	}

	p {
		color: @fudge;
	}

	h4 {
		margin-top: 0;
	}

	p {
		margin-bottom: 2em;
	}

	.venue-image,
	.venue-description {
		flex: 1 0 50%;
		box-sizing: border-box;
	}

	.venue-image {
		padding: 2em 0 3em;

		img {
			height: 515px;
		}
	}

	.venue-description {
		padding: 6.25em 0 0 4.375em; /* 70/16 */
	}

	@media (max-width: @mobile) {
		.venue-description {
			order: 1;
			padding: 2em 0 0;
		}

		.venue-image {
			order: 2;

			img {
				height: auto;
				max-width: 100%;
			}
		}
	}
}

#tradition {
	background-color: @salmon;
	overflow: hidden;

	h3 {
		color: @off-white;
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
		color: @mustard;
	}

	p {
		color: @off-white;
	}

	.tradition-description,
	.tradition-image {
		box-sizing: border-box;
	}

	.tradition-description {
		flex: 5 1;
		padding: 6.25em 2em 0 0; /* 100/16 */

		@media (max-width: @mobile) {
			padding: 2em 0 0;

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tradition-image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 7 1;

		img {
			margin-bottom: 1em;

			@media (min-width: @tablet + 1) {
				margin: -3em 0 -4em;
				margin-right: -4em;
				transform: scale(1.1);
			}
		}
	}
}

#gallery {
	-webkit-user-select: none;
	user-select: none;
	position: relative;

	#slide-container {
		position: relative;
		width: 100%;
		overflow: hidden;

		&:before {
			display: block;
			content: '';
			margin-top: 78.1333%;

			@media (min-width: @tablet) {
				margin-top: 35.7145%;
			}
		}

		div {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-position: top left;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			transition: opacity 600ms;
			display: none;

			&:first-child {
				display: block;
				background-image: url('/img/gallery/Gallery_Mobile_2019_PosterImage.jpg');

				@media (min-width: @tablet) {
					background-image: url('/img/gallery/Gallery_Desktop_2019_PosterImage.jpg');
				}
			}

			&.active {
				opacity: 1;
				transition: transform-plus(opacity 600ms, 400ms);

				+ div {
					transition: transform-plus(opacity 600ms, 400ms);
					transform: translate3d(100%, 0, 0);
				}
			}
		}
	}

	#prev-slide,
	#next-slide {
		position: absolute;
		top: 50%;
		margin-top: -29px;
		width: 32px;
		height: 58px;
		background: url('/img/gallery-arrow.png') transparent center center no-repeat;
		cursor: pointer;
		transition: opacity 300ms;

		&:active {
			margin-left: -4px;
			margin-right: -4px;
		}
	}

	#prev-slide {
		transform: rotate(180deg);
		left: 30px;
	}

	#next-slide {
		right: 30px;
	}
}

#promo {
	background-color: @fudge;
	padding-bottom: 9em;
	overflow: hidden;

	h3 {
		margin-bottom: 0;
		color: @white;
	}

	h4 {
		margin-top: 0;
		color: @mustard;
	}

	p {
		color: @white;
		margin-bottom: 2em;

		@media (min-width: @tablet + 1) {
			margin-bottom: 4em;
		}
	}

	.promo-description,
	.promo-image {
		box-sizing: border-box;
	}

	.promo-description {
		flex: 5 1;
		padding: 6.25em 2em 0 0; /* 100/16 */

		@media (max-width: @mobile) {
			padding: 2em 0;
		}
	}

	label {
		color: @white;
	}

	::placeholder {
		color: fade(@white, 50%);
	}

	input[type="email"] {
		border-color: @white;
		color: @white;

		&:focus {
			box-shadow: 0 0 4px 1px fade(@white, 30%);
		}
	}

	.promo-image {
		flex: 7 1;

		img {
			margin-left: -3.5em;
			transform: scale(1.8);
			transform-origin: 0 0;

			@media (min-width: @tablet + 1) {
				margin: 6.25em 0 0;
				transform: scale(1.5);
				transform-origin: 0 0;
			}
		}
	}

	.ghost-button {
		color: @white;
		border-color: @white;

		&:hover {
			background-color: @white;
			color: @fudge;
		}
	}
}

#tickets {
	background: @manila;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
		color: @salmon;
	}

	p {
		&.total {
			text-align: right;
			text-transform: uppercase;
			font-weight: 900;
		}
	}

	.tickets-description,
	.tickets-flow,
	.prices,
	.tickets-image {
		box-sizing: border-box;
		flex: 1 0 50%;
	}

	.tickets-description {
		padding: 6.25em 5em 6.25em 0;

		h6 {
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0;
			text-transform: uppercase;
			color: @fudge;

			&.disabled {
				color: fade(@fudge, 30%);
			}

			&.sold-out {
				text-decoration: line-through;
			}
		}

		@media (max-width: @mobile) {
			padding: 2em 0;

			h6 {
				font-size: 1.125em; /* 18/16 */
			}

			.prices {
				padding-top: 1em;
				flex: 3 0;
			}

			.ticket-image {
				padding-top: 2em;
				flex: 2 0;
			}
		}
	}

	.tickets-flow {
		padding-left: 7.5em; /* 120/16 */

		@media (max-width: @mobile) {
			padding-left: 0;
			padding-bottom: 3.5em;
		}

		.step-footer {
			position: relative;
			padding-top: .5em;

			button {
				flex: 0 0 10.625em; /* 170/16 */
			}

			a {
				display: block;
				margin: 1rem 0 0 1.5rem;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 0.75em; /* 12/16 */
				color: @fudge;

				&:before {
					content: '';
					display: inline-block;
					margin-right: .5rem;
					width: 0;
					height: 0;
					border: 4px solid transparent;
					border-right-color: @fudge;
				}

				@media (max-width: @mobile) {
					margin-left: .5rem;
					position: absolute;
					top: 3.5rem;
				}
			}

			p {
				flex: 1 1;
				color: @fudge;
				text-align: right;
				margin: .75rem 0 0;
			}
		}

		.step {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.progress {
		margin: 4em auto 3.5em;
		margin-top: 4em;
		height: 0;
		width: 80%;

		.leg {
			width: 50%;
			float: left;
			height: 0;
			border: 1px solid @salmon;
			box-sizing: border-box;

			&.active {
				border-color: @fudge;
			}
		}

		.ticks {
			justify-content: space-between;
			margin: 0 -1px;

			// This fixes a weird Chrome layout glitch
			width: 101%;
			height: 0;

			div {
				position: relative;
				height: 15px;
				width: 15px;
				border: 2px solid @salmon;
				background: @salmon;
				transform: translateY(-50%);
				border-radius: 100%;
				z-index: 999;

				span {
					display: block;
					white-space: nowrap;
					position: absolute;
					bottom: 150%;
					left: 50%;
					transform: translateX(-50%);
					font-family: @proxima;
					font-weight: 700;
					font-size: 0.75em; /* 12/16 */
					text-transform: uppercase;
					color: @salmon;
				}

				&.active,
				&.complete {
					border-color: @fudge;
				}

				&.complete {
					background: @fudge;

					span {
						color: @fudge;
					}

					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 4px;
						top: 0;
						width: 3px;
						height: 7px;
						border: 2px solid transparent;
						border-right-color: @manila;
						border-bottom-color: @manila;
						transform: rotate(45deg);
					}
				}
			}
		}
	}

	.product-table {
		margin-bottom: 2em;

		p {
			margin: 0;
			font-weight: 700;
			color: @fudge;
		}

		.table-header {
			padding-bottom: 1em;
			border-bottom: 1px solid @fudge;

			h6 {
				flex: 3 0;
				font-family: @brandon;
				font-weight: 900;
				font-size: 1.375em; /* 22/16 */
				margin: 0;
				text-transform: uppercase;
				color: @fudge;
				line-height: 1em;

				@media (max-width: @mobile) {
					font-size: 1.125em; /* 18/16 */
					flex: 2 0;
				}

				@media (max-width: @android) {
					flex: 1 1;
				}
			}

			.quantity-header,
			.subtotal-header {
				flex: 1 1;
			}

			.quantity-header {
				text-align: center;
			}

			.subtotal-header {
				text-align: right;
			}
		}

		.table-row {
			justify-content: space-between;
			padding: 1.3em 0;
			border-bottom: 1px solid @fudge;

			&.disabled {
				p {
					color: fade(@fudge, 30%);
				}

				.quantity-controls {
					.minus,
					.plus {
						svg {
							cursor: default;
						}

						path {
							fill: fade(@fudge, 30%);
						}

						&:hover,
						&:active {
							path {
								fill: fade(@fudge, 30%);
							}
						}
					}
				}
			}
		}

		.product-description {
			flex: 3 0;

			@media (max-width: @mobile) {
				flex: 2 0;
			}

			@media (max-width: @android) {
				flex: 1 0;
			}
		}

		.quantity-controls,
		.product-total {
			flex: 1 1;
		}

		.quantity-controls {
			text-align: center;
			user-select: none;

			.quantity {
				display: inline-block;
				margin: 0 0.625em; /* 10/16 */
				user-select: none;
			}

			.minus,
			.plus {
				box-sizing: border-box;
				display: inline-block;
				text-align: center;
				width: 1.25rem; /* 20/16 */
				height: 1.25rem; /* 20/16 */
				vertical-align: bottom;
				user-select: none;

				svg {
					width: 1.25rem; /* 20/16 */
					height: 1.25rem; /* 20/16 */
					cursor: pointer;
					user-select: none;
				}

				path {
					fill: @fudge;
					transition: fill 200ms;
				}

				&:hover {
					path {
						fill: lighten(@fudge, 10%);
					}
				}

				&:active {
					path {
						fill: lighten(@fudge, 20%);
					}
				}

				&.disabled {
					svg {
						cursor: default;
					}

					path {
						fill: @manila;
					}

					&:hover,
					&:active {
						path {
							fill: @manila;
						}
					}
				}
			}
		}

		.product-total {
			text-align: right;
		}
	}

	form {
		h6 {
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0 0 0.75em;
			text-transform: uppercase;
			color: @salmon;
		}
	}

	fieldset[name="expiration"] {
		flex: 2 1;
		margin-right: 2em;
	}

	fieldset[name="cvv"] {
		flex: 1 1;

		label {
			position: relative;

			span {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				font-family: Times, serif;
				font-style: italic;
				font-size: 10px;
				text-transform: none;
				border-radius: 100%;
				background: @fudge;
				color: @manila;
				height: 13px;
				width: 13px;
				text-align: center;
				cursor: help;

				&:after {
					content: attr(title);
					position: absolute;
					bottom: 100%;
					right: 0;
					display: block;
					font-family: @proxima;
					font-size: 12px;
					font-style: normal;
					padding: .125em .5em;
					border-radius: 3px;
					pointer-events: none;
					white-space: nowrap;
					background: @fudge;
					color: @manila;
					opacity: 0;
					transition: opacity 200ms;
				}

				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}

	.review-order {
		h6 {
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0 0 0.75em;
			text-transform: uppercase;
			color: @fudge;
		}

		p {
			color: @fudge;

			&.intro {
				border-top: 1px solid @fudge;
				border-bottom: 1px solid @fudge;
				padding: 1em 0;
				margin-bottom: 1.5em;
			}
		}

		.summary {
			border-bottom: 1px solid @fudge;
			padding-bottom: 1.5em;
			margin-bottom: 2em;
		}

		.reservation-details,
		.order-summary {
			flex: 1 0 50%;
			box-sizing: border-box;

			strong {
				text-transform: uppercase;
				font-size: 0.75em; /* 12/16 */
			}
		}

		dl {
			margin: 0;
			padding: 1em 0 0;
		}

		dt,
		dd {
			margin: 0;
			padding: 0;
		}

		dt {
			float: left;
			clear: left;
		}

		dd {
			float: right;
			clear: right;
			text-align: right;
			font-weight: 700;
		}
	}

	.order-confirmation {
		h6 {
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0 0 0.75em;
			text-transform: uppercase;
			color: @fudge;
		}

		p {
			color: @fudge;

			&.confirmation-number {
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
}

.donation-checkbox {
	margin-bottom: 1em;

	fieldset[name="donation"] {
		input {
			display: none;
		}

		label {
			position: relative;
			cursor: pointer;
			user-select: none;
			color: @salmon;
			font-size: 14px;
			padding-left: 3em;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				height: 20px;
				width: 20px;
				transform: translateY(-50%);
				border: 2px solid @fudge;
			}
		}

		input:checked + label {
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: .5em;
				top: -6px;
				height: 25px;
				width: 10px;
				transform: rotate(45deg);
				border: 3px solid transparent;
				border-bottom-color: @salmon;
				border-right-color: @salmon;

				@media (min-width: @tablet + 1) {
					top: -15px;
				}
			}
		}
	}
}

#card-number,
#expiration,
#cvv {
	margin-bottom: 1em;
	border: 1px solid @fudge;
	transition: box-shadow 200ms;
	height: 2.1875em; /* 35/16 */
	padding: 0 1em;
	box-sizing: border-box;

	&.braintree-hosted-fields-focused {
		box-shadow: 0 0 4px 1px fade(@fudge, 30%);
	}

	&.braintree-hosted-fields-invalid {
		position: relative;
		border-color: @salmon;

		&:after {
			content: '!';
			display: block;
			position: absolute;
			right: 0.75em;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 100%;
			color: @white;
			background: @salmon;
		}
	}
}

#shop {
	// Shop is not currently available
	display: none;
	background-color: @white;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
		color: @salmon;
	}

	p {
		margin-bottom: 2em;
	}

	.shop-description,
	.shop-image {
		box-sizing: border-box;
	}

	.shop-description {
		flex: 5 1;
		padding: 6.25em 2em 0 0; /* 100/16 */

		@media (max-width: @mobile) {
			padding: 2em 0;
		}
	}

	.shop-image {
		flex: 7 1;
	}

	.shop-image-mobile {
		overflow: hidden;
		background: url('/img/shop-mobile.jpg') @white top left no-repeat;
		background-size: 100% auto;

		&:after {
			content: '';
			display: block;
			margin-top: 100%;
		}
	}
}

#faq {
	padding: 6.25em 0; /* 100/16 */
	background-color: @fudge;

	@media (max-width: @mobile) {
		padding: 2em 0;
	}

	h3 {
		text-align: center;
		color: @salmon;

		@media (max-width: @mobile) {
			text-align: left;
		}
	}

	p {
		color: @white;
		margin-top: 0;
	}

	.faq-column {
		flex: 1 0;
		margin-right: 2em;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width: @mobile) {
			margin: 0;
		}
	}

	.faq {
		margin-bottom: 1.875em; /* 30/16 */
	}

	#additional-questions {
		margin-top: 2em;

		h5 {
			color: @white;
			text-align: center;
		}

		a {
			color: @mustard;
		}

		p {
			text-align: center;
			color: @salmon;
		}

		@media (max-width: @mobile) {
			h5,
			p {
				text-align: left;
			}

			h5 {
				margin-bottom: .5em;
			}
		}
	}
}

#partners {
	background-color: @off-white;
	padding: 6.25em 0; /* 100/16 */

	h3 {
		text-align: center;
	}

	.flex-row {
		justify-content: space-around;
		align-items: center;
	}

	.partner {
		max-width: 8em; /* 150/16 */
	}

	@media (max-width: @mobile) {
		padding: 2em 0;

		h3 {
			font-size: 1.25em; /* 20/16 */
			margin-bottom: 2em;
		}

		.partner {
			max-width: 7.5em; /* 120/16 */
			margin-bottom: 2em;
		}
	}
}

footer {
	background-color: @white;
	padding: 4em 0 1em;
	text-align: center;

	#froman {
		width: 17.3125em; /* 277/16 */
		margin: 0 auto 60px;

		.svg-froman {
			fill: @salmon;
		}

		@media (max-width: @mobile) {
			width: 12.5em; /* 200/16 */
		}
	}

	nav {
		li {
			text-transform: uppercase;

			@media (max-width: @mobile) {
				font-size: 1em; /* 20/16 */
				margin-bottom: .5em;
			}
		}
	}

	.social {
		margin-top: 20px;

		svg {
			margin-right: 10px;
			width: 20px;
			fill: @salmon;

			@media (min-width: @mobile) {
				margin-right: 20px;
			}
		}

		a {
			font-size: 24px;
			letter-spacing: 2px;
		}
	}

	.instagram-link {
		cursor: default;
		font-family: @league;
		text-transform: uppercase;
	}

	#privacy-refund {
		color: @salmon;
		font-size: 14px;
		text-align: center;
		margin-top: 10px;

		a {
			text-decoration: underline;
		}

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}

	#copyright {
		color: @salmon;
		font-size: 14px;
		text-align: center;

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}
}
