@import 'base.less';

body {
	padding-top: 5.625em; /* 90/16 */
}

.container-1230 {
	position: relative;
	max-width: 1230px;
	box-sizing: border-box;
	padding: 0 1.875em; /* 30/16 */
	margin: 0 auto;
}

.no-mobile {
	@media (max-width: @mobile) {
		display: none;
	}
}

.mobile-only {
	@media (min-width: @mobile) {
		display: none;
	}
}

.flex-row {
	display: flex;

	@media (max-width: @mobile) {
		&:not(.flex-row-mobile) {
			flex-direction: column;
		}
	}
}

.img-wrap {
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.ghost-button {
	display: block;
	border: 1px solid @navy;
	color: @navy;
	font-size: 1em; /* 16/16 */
	text-transform: uppercase;
	font-weight: 700;
	width: 10.625em; /* 170/16 */
	padding: 0.5em 0;
	text-align: center;
	transition: color, background-color, .2s;

	&:hover {
		background: @navy;
		color: @white;
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		padding: 0;
		margin: 0 0.625em 1em; /* 10/16 */ /* 20/16 */
		font-family: @brandon;
		font-size: 1.625em; /* 26/16 */
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;

		@media (min-width: @mobile) {
			margin-bottom: 0;
			display: inline-block;
			font-size: 0.875em; /* 14/16 */
			margin: 0 0.3125em; /* 5/16 */
		}

		@media (min-width: @tablet) {
			margin: 0 0.625em; /* 10/16 */
		}
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5.625em; /* 90/16 */
	padding-top: 1.25em; /* 20/16 */
	box-sizing: border-box;
	background: @navy;
	z-index: 9999;

	.logo {
		flex: 0 3 7.375em;
		width: 7.375em; /* 118/16 */

		@media (max-width: @mobile) {
			position: relative;
			top: 4px;
			width: 6em; /* 96/16 */
			flex: 0 3 6em;
		}
	}

	nav {
		flex: 1 0;
		overflow: hidden;
		max-height: 0;
		box-sizing: border-box;
		padding-top: 0.75em; /* 12/16 */
		transition: max-height 300ms;

		@media (max-width: @mobile) {
			position: absolute;
			left: 0;
			top: 0; /* 90/16 */
			width: 100%;
			background: @navy;
			padding-top: 0;
			height: 100vh;
		}

		@media (min-width: @mobile) {
			max-height: 100vh;
		}

		ul {
			text-align: right;
		}

		a {
			text-transform: uppercase;
			color: @white;
		}
	}

	#menu-icon {
		position: absolute;
		width: 30px;
		top: 1em;
		right: 1.875em; /* 30/16 */
		z-index: 99999;

		div {
			height: 4px;
			background: @white;
			margin-bottom: 4px;
			transition: all 300ms;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: @mobile) {
			display: none;
		}

		&.open {
			div {
				opacity: 0;

				&:first-child,
				&:last-child {
					opacity: 1;
				}

				&:first-child {
					transform: rotate(45deg) translate3d(5px, 6px, 0);
				}

				&:last-child {
					transform: rotate(-45deg) translate3d(5px, -6px, 0);
				}
			}

			+ nav {
				max-height: 1000px;
			}
		}
	}

	.social {
		display: none;
		width: 20px;
		margin: 0;
		margin-left: 15px;
		position: relative;
		top: 4px;

		.social-icon {
			fill: @white;
		}

		@media (min-width: @mobile) {
			display: inline-block;
		}
	}
}

#hero {
	background: url('/img/hero.jpg') @light-lavender no-repeat center;
	background-size: auto 100%;
	box-sizing: border-box;
	padding-top: 9.375em; /* 150/16 */
	height: 36em; /* 576/16 */

	@media (max-width: @mobile) {
		height: auto;
		padding-top: 3em;
		padding-bottom: 3em;
		background-image: url('/img/hero-mobile.jpg');
	}

	.titles {
		margin-bottom: 3em;

		h1,
		h2,
		h3 {
			text-transform: uppercase;
			margin: 0;
		}

		h1,
		h2 {
			font-family: @brandon;
			font-weight: 900;
			letter-spacing: -2.5px;
			line-height: 0.9em;
		}

		h2 {
			font-size: 3.75em; /* 60/16 */
			color: fade(@white, 40%);
		}

		h1 {
			font-size: 6.25em; /* 100/16 */
			color: @blue;
		}

		h3 {
			font-family: @league;
			color: @white;
			font-size: 1.875em; /* 30/16 */
			font-weight: 400;
			letter-spacing: 3px;
		}

		@media (max-width: @mobile) {
			h2 {
				text-align: center;
				font-size: 1.75em; /* 28/16 */
				letter-spacing: -1px;
				color: @white;
				margin-bottom: .125em;
			}

			h1 {
				text-align: center;
				font-size: 2.5em; /* 40/16 */
				letter-spacing: -1.5px;
				margin-bottom: 0.25em;
			}

			h3 {
				text-align: center;
				margin-bottom: 250px;
			}
		}
	}

	.cta {
		a {
			display: inline-block;
			background: @blue;
			padding: 0.5em 2em;
			text-transform: uppercase;
			font-family: @proxima;
			font-weight: 700;
			font-size: 1.125em; /* 18/16 */
			color: @white;
			letter-spacing: 1px;
		}

		@media (max-width: @mobile) {
			text-align: center;
		}
	}
}

#tagline {
	background-color: @pink;
	padding: 3.125em 0; /* 50/16 */

	h3 {
		font-family: @brandon;
		font-weight: 900;
		font-size: 1.375em; /* 22/16 */
		color: @white;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: .5em;
		padding: 0;
		line-height: 1em;
		text-align: center;

		&.fade {
			color: fade(@white, 50%);
			margin: 0;
		}
	}

	@media (max-width: @mobile) {
		padding: 2.1875em 0; /* 35/16 */

		h3 {
			font-size: 1.125em; /* 18/16 */
			margin-bottom: 0;
			line-height: 1.5em;
		}
	}
}

#video {
	background: url('/img/video-cover.jpg') center no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height: 49.3125em; /* 789/16 */
	position: relative;

	@media (max-width: @mobile) {
		background-image: url('/img/video-cover-mobile.jpg');
		height: 18.9375em; /* 303/16 */
	}

	a {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

#lineup {
	padding-top: 6.25em; /* 100/16 */

	@media (max-width: @mobile) {
		padding-top: 1.75em;
	}

	h3 {
		text-align: center;
	}

	.lineup-image {
		margin-bottom: 6.25em; /* 100/16 */
		padding: 0 6.25em; /* 100/16 */

		@media (max-width: @mobile) {
			margin-bottom: 2em;
			padding: 0;
		}
	}

	.flex-row {
		justify-content: space-between;

		@media (max-width: @mobile) {
			display: block;
		}
	}

	.bands {
		margin-bottom: 3em;
	}

	.floozies-image {
		overflow: hidden;
		background: url('/img/band-floozies.jpg') top left no-repeat;
		background-size: 100% auto;

		&:after {
			content: '';
			display: block;
			margin-top: 34.188034%;
		}

		@media (max-width: @mobile) {
			background-image: url('/img/band-floozies-mobile.jpg');

			&:after {
				margin-top: 70.13333333%;
			}
		}
	}

	.band {
		box-sizing: border-box;
		flex: 1 1 50%;
		margin-bottom: 3em;

		img {
			width: 100%;
		}

		@media (min-width: @mobile) {
			&:first-child {
				margin-right: 1em;
			}

			&:last-child {
				margin-left: 1em;
			}
		}
	}
}

#set-times {
	background: url('/img/set-times.jpg') top center no-repeat;
	background-size: cover;
	padding-bottom: 6.25em; /* 100/16 */

	@media (max-width: @mobile) {
		background-image: url('/img/set-times-mobile.jpg');
		padding-bottom: 2em;
	}

	h3 {
		text-align: center;

		@media (max-width: @mobile) {
			text-align: left;
			margin-bottom: .5em;
		}
	}

	.flex-row {
		justify-content: center;
	}

	dl,
	dt,
	dd {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	dt {
		font-size: 1.375em; /* 22/16 */
		font-weight: 900;
		font-family: @brandon;
		color: @blue;
		line-height: 1em;
	}

	dd {
		font-size: 1em; /* 16/16 */
		margin-bottom: 1em;
	}

	.main-stage,
	.inside-stage {
		@media (min-width: @mobile) {
			flex: 0 0 50%;
			box-sizing: border-box;
			padding: 0 3em;

			h4 {
				margin-top: 0;
				margin-bottom: 1em;
			}
		}
	}

	.main-stage {
		margin-bottom: 1.5em;

		@media (min-width: @mobile) {
			border-right: 2px solid @navy;
			margin-bottom: 0;

			h4,
			dl {
				text-align: right;
			}
		}
	}
}

#venue {
	background-color: @light-lavender;

	h3 {
		margin-bottom: 0;
	}

	h4,
	p {
		color: @white;
	}

	h4 {
		margin-top: 0;
	}

	p {
		margin-bottom: 2em;
	}

	.venue-image,
	.venue-description {
		flex: 1 0 50%;
		box-sizing: border-box;
	}

	.venue-description {
		padding: 6.25em 0 0 4.375em; /* 70/16 */
	}

	@media (max-width: @mobile) {
		.venue-description {
			order: 1;
			padding: 2em 0;
		}

		.venue-image {
			order: 2;
		}
	}
}

#tradition {
	background-color: @off-white;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
		color: @teal;
	}

	.tradition-description,
	.tradition-image {
		box-sizing: border-box;
	}

	.tradition-description {
		flex: 5 1;
		padding: 6.25em 2em 0 0; /* 100/16 */

		@media (max-width: @mobile) {
			padding: 2em 0 0;

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tradition-image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 7 1;

		img {
			margin: 0;
		}

		@media (max-width: @mobile) {
			margin: 0 -1.875em; /* 30/16 */
		}
	}
}

#gallery {
	-webkit-user-select: none;
	user-select: none;
	position: relative;

	#slide-container {
		position: relative;
		width: 100%;
		overflow: hidden;

		&:before {
			display: block;
			content: '';
			margin-top: 78.1333%;

			@media (min-width: @tablet) {
				margin-top: 35.7145%;
			}
		}

		div {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-position: top left;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			transition: opacity 600ms;
			display: none;

			&:first-child {
				display: block;
				background-image: url('/img/gallery-poster-mobile.jpg');

				@media (min-width: @tablet) {
					background-image: url('/img/gallery-poster-desktop.jpg');
				}
			}

			&.active {
				opacity: 1;
				transition: transform-plus(opacity 600ms, 400ms);

				+ div {
					transition: transform-plus(opacity 600ms, 400ms);
					transform: translate3d(100%, 0, 0);
				}
			}

			.generate-slides(8);
			.generate-slides(@n, @i: 1) when (@i =< @n) {
				&.slide-@{i} {
					background-image: url('/img/gallery/desktop-@{i}.jpg');
				}

				.generate-slides(@n, (@i + 1));
			}
		}
	}

	@media (min-width: @tablet) {
		&:hover {
			#prev-slide,
			#next-slide {
				opacity: 1;
			}
		}

		#prev-slide,
		#next-slide {
			position: absolute;
			top: 50%;
			margin-top: -29px;
			width: 32px;
			height: 58px;
			background: url('/img/gallery-arrow.png') transparent center center no-repeat;
			cursor: pointer;
			opacity: 0;
			transition: opacity 300ms;

			&:active {
				margin-left: -4px;
				margin-right: -4px;
			}
		}

		#prev-slide {
			transform: rotate(180deg);
			left: 30px;
		}

		#next-slide {
			right: 30px;
		}
	}
}

#afterparty {
	background-color: @navy;

	h3 {
		margin-bottom: 0;
		color: @white;
	}

	h4 {
		margin-top: 0;
		color: @light-lavender;
	}

	p {
		color: @white;
		margin-bottom: 2em;
	}

	.afterparty-description,
	.afterparty-image {
		box-sizing: border-box;
	}

	.afterparty-description {
		flex: 5 1;
		padding: 6.25em 2em 0 0; /* 100/16 */

		@media (max-width: @mobile) {
			padding: 2em 0;
		}
	}

	.afterparty-image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		flex: 7 1;

		img {
			margin: 0;
		}
	}

	.cta-hornblower {
		justify-content: space-between;
		flex-direction: row;

		@media (max-width: @mobile) {
			.img-wrap {
				margin-top: 0.625em; /* 10/16 */
				max-width: 7.5em; /* 120/16 */
			}
		}
	}

	.ghost-button {
		color: @white;
		border-color: @white;

		&:hover {
			background-color: @white;
			color: @navy;
		}
	}
}

#giving-back {
	background: @green;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
		color: @white;
	}

	p {
		margin-bottom: 2em;
	}

	.giving-back-image,
	.giving-back-description {
		box-sizing: border-box;
		flex: 1 0 50%;
	}

	.giving-back-description {
		padding: 6.25em 1em 0 2em;
	}

	@media (max-width: @mobile) {
		.giving-back-image {
			order: 2;
			padding-bottom: 1.5em;
		}

		.giving-back-description {
			padding: 2em 0;
			order: 1;
		}
	}
}

#shop {
	background-color: @off-white;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
		color: @teal;
	}

	p {
		margin-bottom: 2em;
	}

	.shop-description,
	.shop-image {
		box-sizing: border-box;
	}

	.shop-description {
		flex: 5 1;
		padding: 6.25em 2em 0 0; /* 100/16 */

		@media (max-width: @mobile) {
			padding: 2em 0;
		}
	}

	.shop-image {
		flex: 7 1;
	}

	.shop-image-mobile {
		overflow: hidden;
		background: url('/img/shop-mobile.jpg') @white top left no-repeat;
		background-size: 100% auto;

		&:after {
			content: '';
			display: block;
			margin-top: 100%;
		}
	}
}

#faq {
	padding: 6.25em 0; /* 100/16 */
	background-color: @navy;

	@media (max-width: @mobile) {
		padding: 2em 0;
	}

	h3 {
		text-align: center;
		color: @peach;

		@media (max-width: @mobile) {
			text-align: left;
		}
	}

	p {
		color: @white;
		margin-top: 0;
	}

	.faq-column {
		flex: 1 0;
		margin-right: 2em;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width: @mobile) {
			margin: 0;
		}
	}

	.faq {
		margin-bottom: 1.875em; /* 30/16 */
	}

	#additional-questions {
		margin-top: 2em;

		h5 {
			color: @white;
			text-align: center;
		}

		a {
			color: @teal;
		}

		p {
			text-align: center;
			color: @peach;
		}

		@media (max-width: @mobile) {
			h5,
			p {
				text-align: left;
			}

			h5 {
				margin-bottom: .5em;
			}
		}
	}
}

#partners {
	background-color: @off-white;
	padding: 6.25em 0; /* 100/16 */

	h3 {
		text-align: center;
	}

	.flex-row {
		justify-content: space-around;
		align-items: center;
	}

	.partner {
		max-width: 8em; /* 150/16 */
	}

	@media (max-width: @mobile) {
		padding: 2em 0;

		h3 {
			font-size: 1.25em; /* 20/16 */
			margin-bottom: 2em;
		}

		.partner {
			max-width: 7.5em; /* 120/16 */
			margin-bottom: 2em;
		}
	}
}

footer {
	background-color: @white;
	padding: 4em 0 1em;
	text-align: center;

	#froman {
		width: 17.3125em; /* 277/16 */
		margin: 0 auto 60px;

		.svg-froman {
			fill: @blue;
		}

		@media (max-width: @mobile) {
			width: 12.5em; /* 200/16 */
		}
	}

	nav {
		li {
			text-transform: uppercase;

			@media (max-width: @mobile) {
				font-size: 1em; /* 20/16 */
				margin-bottom: .5em;
			}
		}
	}

	.social {
		margin-top: 20px;

		svg {
			margin-right: 10px;
			width: 20px;
			fill: @blue;

			@media (min-width: @mobile) {
				margin-right: 20px;
			}
		}

		a {
			font-size: 24px;
			letter-spacing: 2px;
		}
	}

	.instagram-link {
		cursor: default;
		font-family: @league;
		text-transform: uppercase;
	}

	#privacy-refund {
		color: @blue;
		font-size: 14px;
		text-align: center;
		margin-top: 10px;

		a {
			text-decoration: underline;
		}

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}

	#copyright {
		color: @blue;
		font-size: 14px;
		text-align: center;

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}
}
