@import 'base.less';

body {
	// background-color: @off-white;
}

.img-wrap {
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.title {
	background: @sky;
	padding: 1em 2em;
	text-align: center;

	svg {
		width: 100%;
		max-width: 18.75em; /* 300/16 */
	}
}

@container-padding: 1.875em;
.container-1230 {
	position: relative;
	max-width: 1230px;
	box-sizing: border-box;
	padding: 0 @container-padding; /* 30/16 */
	margin: 0 auto;
}

.no-mobile {
	@media (max-width: @mobile) {
		display: none;
	}
}

.mobile-only {
	@media (min-width: @mobile) {
		display: none;
	}
}

.flex-row {
	display: flex;

	@media (max-width: @mobile) {
		&:not(.flex-row-mobile) {
			flex-direction: column;
		}
	}
}

.img-wrap {
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	&.outline {
		margin: 0 auto;
		height: 200px;
		width: 200px;
		box-sizing: border-box;
		border: 2px dashed @brown;
		padding: 0.5em;
		padding-top: 50px;
		border-radius: 20px;
	}
}

header {
	height: 5.625em; /* 90/16 */
	padding-top: 1.25em; /* 20/16 */
	box-sizing: border-box;
	background: @slate;
	z-index: 9999;
	margin-bottom: 1.5em;

	@media (max-width: @mobile) {
		padding-top: 1.0625em; /* 17/16 */
		height: 4.8125em; /* 77/16 */
	}

	.logo {
		flex: 0 3 7.375em;
		width: 7.375em; /* 118/16 */

		@media (max-width: @mobile) {
			position: relative;
			top: 4px;
			width: 5.75em; /* 92/16 */
			flex: 0 3 6em;
		}
	}
}

h2 {
	margin: 0;
	color: @slate;
}

h2 + h2 {
	margin-bottom: 1em;
}

h3 {
	margin-top: .2em;
	margin-bottom: 0;
	line-height: 1em;
}

h4 {
	margin: 0;
	line-height: 1;
}

.disclaimer,
.instructions {
	font-size: 12px;

	a {
		color: @brown;
		font-weight: 700;
		text-decoration: underline;
	}
}

.download-wallet {
	@media (max-width: @mobile) {
		text-align: center;
	}

	.download {
		display: inline-block;
		background: @brown;
		padding: 0.5em 2em;
		text-transform: uppercase;
		font-family: @proxima;
		font-weight: 700;
		font-size: 1.125em; /* 18/16 */
		color: @white;
		letter-spacing: 1px;

		@media (max-width: @mobile) {
			margin-bottom: 1em;
			display: block;
			box-sizing: border-box;
		}
	}

	.wallet {
		display: inline-block;
		position: relative;
		top: 14px;
		margin-left: 1em;

		img {
			height: 40px;
		}

		@media (max-width: @tablet) {
			margin-left: 0;
			top: 0;

			img {
				height: 50px;
			}
		}
	}
}

.tickets {
	position: relative;
	padding: 1em 0 2em;
	overflow: hidden;
	--swiper-navigation-color: @brown;
	--swiper-pagination-color: @brown;

	.swiper-pagination-fraction {
		bottom: 0;
		font-weight: 700;
		font-size: 1.125em; /* 18/16 */
		color: @brown;
	}

	@media (max-width: @mobile) {
		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}
}

.ticket {
	text-align: center;
}

.tickets-list {
	padding: 2em 0;
	background: @brown;

	.event-group {
		margin-bottom: 4em;
	}

	.event-info {
		h3,
		h4,
		h5,
		p {
			color: @white;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			background: @white;
			padding: 1em;
			border-radius: 3px;
			margin-bottom: 1em;
		}
	}

	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			font-size: 12px;
			margin: 0.1em 0;
		}

		.ticket-number {
			flex: 0 1 75px;
		}

		.ticket-tier {
			flex: 1 1;
		}

		.ticket-ids {
			align-self: flex-end;
			text-align: right;
		}
	}
}

footer {
	padding-top: 2em;
	text-align: center;

	#copyright {
		font-size: 14px;
		text-align: center;

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}
}
