@import 'base.less';

body {
	padding-top: 5.625em; /* 90/16 */

	@media (max-width: @mobile) {
		padding-top: 4.8125em; /* 77/16 */
	}
}

p {
	font-size: 18px;
}

@container-padding: 1.875em;
.container-1230 {
	position: relative;
	max-width: 1230px;
	box-sizing: border-box;
	padding: 0 @container-padding; /* 30/16 */
	margin: 0 auto;
}

.no-mobile {
	@media (max-width: @mobile) {
		display: none;
	}
}

.mobile-only {
	@media (min-width: @mobile) {
		display: none;
	}
}

.flex-row {
	display: flex;

	@media (max-width: @mobile) {
		&:not(.flex-row-mobile) {
			flex-direction: column;
		}
	}
}

.img-wrap {
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.ghost-button {
	display: block;
	border: 1px solid @navy;
	color: @navy;
	font-size: 1em; /* 16/16 */
	text-transform: uppercase;
	font-weight: 700;
	width: 10.625em; /* 170/16 */
	padding: 0.5em 0;
	text-align: center;
	transition: color, background-color, .2s;

	&:hover {
		background: @navy;
		color: @white;
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		padding: 0;
		margin: 0 0.625em 1em; /* 10/16 */ /* 20/16 */
		font-family: @brandon;
		font-size: 1.625em; /* 26/16 */
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;

		@media (min-width: @mobile) {
			margin-bottom: 0;
			display: inline-block;
			font-size: 0.875em; /* 14/16 */
			margin: 0 0.3125em; /* 5/16 */
		}

		@media (min-width: @tablet) {
			margin: 0 0.625em; /* 10/16 */
		}
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5.625em; /* 90/16 */
	padding-top: 1.25em; /* 20/16 */
	box-sizing: border-box;
	background: @slate;
	z-index: 9999;

	@media (max-width: @mobile) {
		padding-top: 1.0625em; /* 17/16 */
		height: 4.8125em; /* 77/16 */
	}

	.logo {
		flex: 0 3 7.375em;
		width: 7.375em; /* 118/16 */

		@media (max-width: @mobile) {
			position: relative;
			top: 4px;
			width: 5.75em; /* 92/16 */
			flex: 0 3 6em;
		}
	}

	.date-callout {
		margin-left: 1em;
		padding-top: .25em;

		p {
			font-family: @brandon;
			font-size: .8em;
			font-weight: 700;
			letter-spacing: 2px;
			text-align: left;
			line-height: 1em;
			text-transform: uppercase;
			color: @blue;
			margin: 0;
			margin-bottom: 0.4em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (max-width: @tablet) {
			display: none;
		}
	}

	.tickets-nav-mobile {
		display: none;
		position: absolute;
		left: 140px;
		top: 3px;
		background: @yellow;
		padding: .5em 1em;
		border-radius: 400px;

		@media (max-width: @mobile) {
			display: block;
		}

		text-transform: uppercase;
		font-family: @brandon;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;
		color: @black;
	}

	nav {
		flex: 1 0;
		overflow: hidden;
		max-height: 0;
		box-sizing: border-box;
		padding-top: 0.75em; /* 12/16 */
		transition: max-height 300ms;

		@media (max-width: @mobile) {
			position: absolute;
			left: 0;
			top: 0; /* 90/16 */
			width: 100%;
			background: @slate;
			padding-top: 0;
			height: 100vh;
		}

		@media (min-width: @mobile) {
			max-height: 100vh;
		}

		ul {
			text-align: right;
		}

		a {
			text-transform: uppercase;
			color: @off-white;
		}

		.tickets-nav {
			color: @black;
			background: @yellow;
			padding: .5em 1.5em;
			border-radius: 400px;

			a {
				color: @black;
			}
		}
	}

	#menu-icon {
		position: absolute;
		width: 30px;
		top: 1em;
		right: 1.875em; /* 30/16 */
		z-index: 99999;

		div {
			height: 4px;
			background: @white;
			margin-bottom: 4px;
			transition: all 300ms;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (min-width: @mobile) {
			display: none;
		}

		&.open {
			div {
				opacity: 0;

				&:first-child,
				&:last-child {
					opacity: 1;
				}

				&:first-child {
					transform: rotate(45deg) translate3d(5px, 6px, 0);
				}

				&:last-child {
					transform: rotate(-45deg) translate3d(5px, -6px, 0);
				}
			}

			+ nav {
				max-height: 1000px;
			}
		}
	}

	.social {
		display: none;
		width: 20px;
		margin: 0;
		margin-left: 15px;
		position: relative;
		top: 4px;

		.social-icon {
			fill: @off-white;
		}

		@media (min-width: @mobile) {
			display: inline-block;
		}
	}
}

#hero {
	background: @gray;
	box-sizing: border-box;

	.container-1230 {
		position: relative;
	}

	@media (max-width: @mobile) {
		background: @gray;
		height: auto;
		padding-bottom: 3em;
	}

	.graphics {
		margin-left: -@container-padding;
		margin-right: -@container-padding;

		img, picture {
			max-width: 100%;
		}
	}
}

#tagline-video {
	background-color: @gray;
	padding-bottom: 2em;

	.tagline {
		flex: 3 1;

		@media (max-width: 390px) {
			margin: 0 auto 1em;
			width: 270px;
		}

		@media (min-width: 400px) and (max-width: @mobile) {
			padding: 0 3em;
			margin-bottom: 3em;
		}

		@media (min-width: (@tablet + 1)) {
			padding-top: 3em;
		}

		h3 {
			font-weight: 500;
			font-size: 3.75rem;
			color: @black;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			line-height: 1em;
			letter-spacing: -0.5px;

			@media (max-width: @mobile) {
				font-size: 2.5em;
				margin-bottom: 0;
				line-height: 1em;
			}

			&.next-line {
				margin: 0;
			}
		}
	}

	.video {
		flex: 5 1;

		p {
			font-size: 24px;
			letter-spacing: 1px;
			position: relative;
			font-family: @league;
			text-align: center;
			text-transform: uppercase;
			color: #f00;

			span {
				position: relative;
				display: inline-block;
				font-size: 50px;
				line-height: 24px;
				top: 9px;
			}
		}
	}
}

#intro {
	overflow: hidden;
	background-color: #000;

	.intro-text {
		flex: 3 1;

		@media (min-width: (@tablet + 1)) {
			margin-left: 7em;
			margin-top: 7em;
		}

		h4 {
			color: @white;
			line-height: 1em;

			@media (max-width: @tablet) {
				text-align: center;
			}
		}

		p {
			color: @white;
			font-size: 1.125em; /* 18/16 */

			@media (max-width: @tablet) {
				margin-top: 0;
				text-align: center;
			}

			@media (max-width: @mobile) {
				// font-size: 0.875em; /* 14/16 */
				margin-bottom: 2.125rem;
			}

			.white {
				color: @white;
				font-weight: 700;
			}
		}

		.follow-button {
			@media (max-width: @tablet) {
				text-align: center;
				margin-bottom: 2em;
			}
		}

		.ghost-button {
			width: 14.5em;
			color: @white;
			border-color: @white;
			border-radius: 400px;

			&:hover {
				background: transparent;
				color: @white;
				box-shadow: inset 0 0 12px -1px @gray;
			}

			@media (max-width: @tablet) {
				display: inline-block;
			}
		}
	}

	.intro-image {
		flex: 4 1;
		margin: 0 -2em;
	}
}

#lineup {
	.lineup-image {
		margin: 0 -@container-padding;
		margin-bottom: 6.25em; /* 100/16 */

		@media (max-width: @mobile) {
			margin-bottom: 2em;
		}
	}

	.lineup-header {
		text-align: center;
		margin-bottom: 2em;

		@media (max-width: @mobile) {
			font-size: 1em;
			margin-bottom: 0.5em;
		}
	}

	.flex-row {
		justify-content: space-between;

		@media (max-width: @mobile) {
			display: block;
		}
	}

	.bands {
		margin-bottom: 3em;
	}

	.band {
		box-sizing: border-box;
		flex: 1 1 50%;
		margin-bottom: 3em;

		p {
			font-size: 14px;
		}

		@media (max-width: @mobile) {
			h4 {
				font-size: 1.5625em; /* 25/16 */
				margin: 0.7i5rem 0;
			}

			p {
				margin-bottom: 1rem;
			}
		}

		.img-wrap > img {
			width: 100%;
		}

		.icons-row {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.link-icon {
			display: block;
			flex: 1 0 auto;
			max-width: 2.5rem;
			margin-right: 1em;

			img {
				display: block;
				max-width: 100%;
			}
		}

		@media (min-width: @mobile) {
			&:first-child {
				margin-right: 1em;
			}

			&:last-child {
				margin-left: 1em;
			}
		}
	}
}

#set-times {
 	background: url('./img/sd/set-times.jpg') @white no-repeat;
 	background-position: bottom center;
 	background-size: cover;
 	padding: 6.25em 0; /* 100/16 */

 	@media (max-width: @mobile) {
 		padding: 2em 0;
	 	background-position: right -12em top;
		background-size: auto 100%;
 	}

 	@media (min-width: (@tablet + 1)) {
 		.family-band {
 			br {
 				display: none;
 			}
 		}
 	}

 	h3 {
 		text-align: center;
 		margin-bottom: .25em;

 		@media (max-width: @mobile) {
 			text-align: left;
 			margin-bottom: 0;
 		}
 	}

	h4 {
		color: @black;

		@media (max-width: @mobile) {
			font-size: 1.4375em; /* 23/16 */
		}
	}

 	.flex-row {
 		justify-content: center;
 	}

 	dl,
 	dt,
 	dd {
 		margin: 0;
 		padding: 0;
 		text-transform: uppercase;

 		@media (max-width: @mobile) {
 			&.rusty {
	 			text-shadow: @white 1px 1px;
	 		}
 		}
 	}

 	dt {
 		font-size: 1.375em; /* 22/16 */
 		font-weight: 900;
 		font-family: @brandon;
 		line-height: 1em;

		@media (max-width: @mobile) {
			font-size: 1.0625em; /* 17/16 */
		}
 	}

 	dd {
 		font-size: 1em; /* 16/16 */
 		margin-bottom: 1em;

		@media (max-width: @mobile) {
			font-size: 0.75em; /* 12/16 */
		}
 	}

 	.water-stage,
 	.fire-stage,
 	.wind-stage,
 	.earth-stage {
 		margin-bottom: 1em;

 		@media (min-width: @mobile) {
 			flex: 0 0 25%;
 			box-sizing: border-box;

 			h4 {
 				margin-top: 0;
 				margin-bottom: 1em;
 			}
 		}
 	}
}

#venue {
	background-color: #e1e5e8;
	padding-top: 4.5em;
	padding-bottom: 7em;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
	}

	p {
		margin-bottom: 2em;
	}

	.venue-image,
	.venue-description {
		flex: 1 0 50%;
		box-sizing: border-box;
	}

	.venue-image {
		position: relative;
		padding: 2em 0 3em;
	}

	.venue-description {
		padding: 1.25em 4.375em 0 0;
	}

	.ghost-button {
		color: @black;
		border-color: @black;
		border-radius: 400px;

		&:hover {
			background: transparent;
			color: @slate;
			box-shadow: inset 0 0 12px -1px @gray;
		}
	}

	@media (max-width: @mobile) {
		padding: 0;

		.venue-description {
			order: 1;
			padding: 2em 0 0;
		}

		.venue-image {
			order: 2;

			img {
				height: auto;
				max-width: 100%;
			}
		}
	}
}

#preparty {
	background: @gray;
	padding: 5.5em 0;
	overflow: hidden;

	.preparty-description {
		flex: 3 1;


		@media (min-width: (@tablet + 1)) {
			margin-right: 7em;
		}

		h3 {
			color: @black;
			margin-bottom: 0;
			margin-top: 0;
			line-height: 1em;
		}

		h4 {
			color: @black;
			margin-top: 0;
		}

		p {
			color: @black;
			font-size: 1em;
			margin-bottom: 3em;
		}

		.ghost-button {
			width: 14.5em;
			color: @black;
			border-color: @black;
			border-radius: 400px;

			&:hover {
				background: transparent;
				color: @black;
				box-shadow: inset 0 0 12px -1px @gray;
			}

			@media (max-width: @tablet) {
				display: inline-block;
				margin-bottom: 3em;
			}
		}
	}

	.preparty-image {
		flex: 4 1;
		margin: 0 -2em;

		@media (min-width: (@tablet + 1)) {
			margin: -6.25em -2em -6.25em;
		}
	}

	@media (max-width: @mobile) {
		padding: 0;

		.preparty-description {
			order: 1;
			padding: 2em 0 0;
		}

		.preparty-image {
			order: 2;

			img {
				height: auto;
				max-width: 100%;
			}
		}
	}
}

#afterparty {
	background: @black;
	padding: 5.5em 0;
	overflow: hidden;

	.afterparty-description {
		flex: 3 1;


		@media (min-width: (@tablet + 1)) {
			margin-right: 7em;
		}

		h3 {
			color: @white;
			margin-bottom: 0;
			margin-top: 0;
			line-height: 1em;
		}

		h4 {
			color: @white;
			margin-top: 0;
		}

		p {
			color: @white;
			font-size: 1em;
			margin-bottom: 3em;
		}

		.ghost-button {
			width: 14.5em;
			color: @white;
			border-color: @white;
			border-radius: 400px;

			&:hover {
				background: transparent;
				color: @white;
				box-shadow: inset 0 0 12px -1px @gray;
			}

			@media (max-width: @tablet) {
				display: inline-block;
				margin-bottom: 3em;
			}
		}
	}

	.afterparty-image {
		flex: 4 1;
		margin: 0 -2em;

		@media (min-width: (@tablet + 1)) {
			margin: -6.25em -2em -6.25em;
		}
	}

	.sticker {
		position: absolute;
		bottom: -70px;
		left: 350px;

		@media (max-width: 1230px) {
			display: none;
		}
	}

	@media (max-width: @mobile) {
		padding: 0;

		.afterparty-description {
			order: 1;
			padding: 2em 0 0;
		}

		.afterparty-image {
			order: 2;

			img {
				height: auto;
				max-width: 100%;
			}
		}
	}
}

#vip {
	background: #e1e5e8;
	padding: 5.5em 0 4.75em;
	overflow: hidden;

	.vip-description {
		flex: 3 1;


		@media (min-width: (@tablet + 1)) {
			margin-right: 7em;
		}

		h3 {
			color: @black;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1em;
		}

		h4 {
			color: @black;
			margin-top: 0;
		}

		p {
			color: @black;
			font-size: 1em;
			margin-bottom: 1em;

			&.vip-includes {
				text-transform: uppercase;
				line-height: 1.1em;
			}
		}

		.ghost-button {
			width: 14.5em;
			color: @black;
			border-color: @black;
			border-radius: 400px;

			&:hover {
				background: transparent;
				color: @black;
				box-shadow: inset 0 0 12px -1px @gray;
			}

			@media (max-width: @tablet) {
				display: inline-block;
				margin-bottom: 3em;
			}
		}
	}

	.vip-image {
		flex: 4 1;
		margin: 0 -2em;

		@media (min-width: (@tablet + 1)) {
			margin: -6.25em -2em -6.25em;
		}
	}

	@media (max-width: @mobile) {
		padding: 0;

		.vip-description {
			order: 1;
			padding: 2em 0 0;
		}

		.vip-image {
			order: 2;

			img {
				height: auto;
				max-width: 100%;
			}
		}
	}
}

#tickets {
	background: @white;

	h3 {
		margin-bottom: 0;
	}

	h4 {
		margin-top: 0;
	}

	p {
		&.total {
			text-align: right;
			text-transform: uppercase;
			font-weight: 900;
		}
	}

	.sales-off {
		padding-top: 2em;

		@media (min-width: (@tablet + 1)) {
			padding-top: 13em;
		}

		h5 {
			text-align: center;

			@media (min-width: (@tablet + 1)) {
				padding: 0 3em;
			}
		}
	}

	.tickets-description,
	.tickets-flow,
	.prices,
	.ticket-image {
		box-sizing: border-box;
		flex: 1 0 50%;
	}

	.tickets-description {
		padding: 6.25em 5em 6.25em 0;
		margin-bottom: -2em;

		@media (min-width: (@mobile + 1)) {
			margin-bottom: 3em;
		}

		h6 {
			position: relative;
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0;
			margin-bottom: .25em;
			text-transform: uppercase;
			color: @black;
			white-space: nowrap;

			sup {
				position: absolute;
				top: 0;
				left: 0;
				color: @black;
				font-size: 0.625rem; /* 10/16 */
			}

			&.disabled {
				color: fade(@black, 30%);

				sup {
					display: none;
				}
			}

			&.sold-out {
				text-decoration: line-through;

				&:after {
					content: 'Sold out!';
					display: inline-block;
					position: relative;
					white-space: nowrap;
					text-decoration: none;
					color: @yellow;
					margin: 0;
					font-size: 0.625rem; /* 10/16 */
					left: -2em;
					top: -5px;
					transform: rotate(25deg);
				}
			}
		}

		@media (max-width: @mobile) {
			padding: 2em 0;

			h6 {
				font-size: 1.125em; /* 18/16 */
			}

			.prices {
				padding-top: 1em;
				flex: 3 0;
			}
		}
	}

	.ticket-image {
		flex: 2 0;
	}

	.tickets-flow {
		padding-left: 7.5em; /* 120/16 */

		@media (max-width: @mobile) {
			padding-left: 0;
			padding-bottom: 3.5em;
		}

		.step-footer {
			position: relative;
			padding-top: .5em;

			button {
				flex: 0 0 10.625em; /* 170/16 */
			}

			a {
				display: block;
				margin: 1rem 0 0 1.5rem;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 0.75em; /* 12/16 */
				color: @navy;

				&:before {
					content: '';
					display: inline-block;
					margin-right: .5rem;
					width: 0;
					height: 0;
					border: 4px solid transparent;
					border-right-color: @navy;
				}

				@media (max-width: @mobile) {
					margin-left: .5rem;
				}
			}

			p {
				flex: 1 1;
				color: @navy;
				text-align: right;
				margin: .75rem 0 0;
			}
		}

		.step {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.progress {
		@lavender: #5675e7;

		margin: 4em auto 3.5em;
		height: 0;
		width: 80%;

		@media (max-width: @mobile) {
			margin: 3em auto 2em;
		}

		.leg {
			width: 33.333333333%;
			float: left;
			height: 0;
			border: 1px solid @lavender;
			box-sizing: border-box;

			&.active {
				border-color: @black;
			}
		}

		.ticks {
			justify-content: space-between;
			margin: 0 -1px;

			// This fixes a weird Chrome layout glitch
			width: 101%;
			height: 0;

			div {
				position: relative;
				height: 15px;
				width: 15px;
				border: 2px solid @lavender;
				background: @lavender;
				transform: translateY(-50%);
				border-radius: 100%;
				z-index: 999;

				span {
					display: block;
					white-space: nowrap;
					position: absolute;
					bottom: 150%;
					left: 50%;
					transform: translateX(-50%);
					font-family: @proxima;
					font-weight: 700;
					font-size: 0.75em; /* 12/16 */
					text-transform: uppercase;
					color: @black;
				}

				&.active,
				&.complete {
					border-color: @black;
				}

				&.complete {
					background: @black;

					span {
						color: @black;
					}

					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 4px;
						top: 0;
						width: 3px;
						height: 7px;
						border: 2px solid transparent;
						border-right-color: @white;
						border-bottom-color: @white;
						transform: rotate(45deg);
					}
				}
			}
		}
	}

	.quantity-selector {
		padding-top: 5.5em;
		margin-bottom: 2em;
		-webkit-user-select: none;
		user-select: none;

		@media (max-width: @mobile) {
			padding-top: 3em;
		}

		h6 {
			flex: 3 0;
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			text-align: center;
			margin: 0;
			text-transform: uppercase;
			color: @black;
			line-height: 1em;

			@media (max-width: @mobile) {
				font-size: 1.125em; /* 18/16 */
				flex: 2 0;
			}

			@media (max-width: @android) {
				flex: 1 1;
			}
		}

		.quantity-controls {
			padding: 1.3em 0;

			.ticket {
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1em;

				.ticket-name {
					font-weight: 700;
				}

				.select-wrap {
					flex: 0 1 4em;
				}
			}
		}

		+ .step-footer {
			text-align: center;
		}
	}

	#confirm-quantity {
		&:disabled {
			background-color: @sky;
			cursor: no-drop;

			&:active {
				box-shadow: none;
			}
		}
	}

	form {
		h6 {
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0 0 0.75em;
			text-transform: uppercase;
			color: @black;
		}
	}

	fieldset[name="marketing-opt-in"] {
		margin-bottom: 1em;

		label, input {
			display: inline;
		}
	}

	// Apple pay
	.apple-pay {
		display: none;

		p {
			text-align: center;
		}
	}

	#apple-pay-payment-option {
		// Style this wrapper and not the button - will be shown if Apple Pay is supported
		max-width: 300px;
		margin: 1em auto 0;

		@media (max-width: @mobile) {
			max-width: 200px;
			text-align: center;
		}
	}

	@supports (-webkit-appearance: -apple-pay-button) {
	    .apple-pay-button {
	        display: block;
	        -webkit-appearance: -apple-pay-button;
			-apple-pay-button-type: check-out;
			-apple-pay-button-style: black;
			height: 2.5em; /* 40/16 */
	    }
	}
	@supports not (-webkit-appearance: -apple-pay-button) {
	    .apple-pay-button {
	        display: block;
	        background-size: 100% 60%;
	        background-repeat: no-repeat;
	        background-position: 50% 50%;
	        border-radius: 5px;
	        padding: 0px;
	        box-sizing: border-box;
	        min-width: 200px;
	        height: 2.5em;
	        max-height: 64px;
			background-image: -webkit-named-image(apple-pay-logo-white);
	        background-color: black;
	    }
	}

	fieldset[name="expiration"] {
		flex: 2 1;
		margin-right: 2em;
	}

	fieldset[name="cvv"] {
		flex: 1 1;

		label {
			position: relative;

			span {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				font-family: Times, serif;
				font-style: italic;
				font-size: 10px;
				text-transform: none;
				border-radius: 100%;
				background: @brown;
				color: @off-white;
				height: 13px;
				width: 13px;
				text-align: center;
				cursor: help;

				&:after {
					content: attr(title);
					position: absolute;
					bottom: 100%;
					right: 0;
					display: block;
					font-family: @proxima;
					font-size: 12px;
					font-style: normal;
					padding: .125em .5em;
					border-radius: 3px;
					pointer-events: none;
					white-space: nowrap;
					background: @brown;
					color: @off-white;
					opacity: 0;
					transition: opacity 200ms;
				}

				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}

	.review-order {
		h6 {
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0 0 0.75em;
			text-transform: uppercase;
			color: @black;
		}

		p {
			color: @black;

			&.intro {
				border-top: 1px solid @black;
				border-bottom: 1px solid @black;
				padding: 1em 0;
				margin-bottom: 1.5em;
			}
		}

		.summary {
			border-bottom: 1px solid @black;
			padding-bottom: 1.5em;
			margin-bottom: 2em;
		}

		.reservation-details,
		.order-summary {
			flex: 1 0 50%;
			box-sizing: border-box;

			strong {
				text-transform: uppercase;
				font-size: 0.75em; /* 12/16 */
			}
		}

		dl {
			margin: 0;
			padding: 1em 0 0;
		}

		dt,
		dd {
			margin: 0;
			padding: 0;
		}

		dt {
			float: left;
			clear: left;
		}

		dd {
			float: right;
			clear: right;
			text-align: right;
			font-weight: 700;
		}
	}

	.order-confirmation {
		background: @gray;
		padding: 1em;
		border: 2px dashed @black;
		margin-bottom: 2em;

		h6 {
			font-family: @brandon;
			font-weight: 900;
			font-size: 1.375em; /* 22/16 */
			margin: 0 0 0.75em;
			text-transform: uppercase;

			@media (max-width: @mobile) {
				line-height: 1.125em;
			}
		}

		p {
			&.confirmation-number,
			&.order-number {
				text-transform: uppercase;
				font-weight: 700;
				margin: 0;

				span {
					color: @black;
				}
			}

			&.tickets-link {
				margin: 2em 0;

				@media (max-width: @mobile) {
					text-align: center;
				}

				a {
					border-radius: 400px;
					background-color: @yellow;
					text-transform: uppercase;
					font-weight: 700;
					color: @black;
					padding: .5em 2em;
					border: 1px solid @black;

				}
			}

			&.confirmation-footer {
				margin-top: 3em;
				color: fade(@black, 70%);
				font-size: 12px;
				text-align: center;
				line-height: 1.5em;

				a {
					text-decoration: underline;
				}
			}
		}
	}
}

#card-number,
#expiration,
#cvv {
	margin-bottom: 1em;
	border: 1px solid @navy;
	transition: box-shadow 200ms;
	height: 2.1875em; /* 35/16 */
	padding: 0 1em;
	box-sizing: border-box;

	&.braintree-hosted-fields-focused {
		box-shadow: 0 0 4px 1px fade(@navy, 30%);
	}

	&.braintree-hosted-fields-invalid {
		position: relative;
		border-color: @brown;

		&:after {
			content: '!';
			display: block;
			position: absolute;
			right: 0.75em;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 100%;
			color: @white;
			background: @brown;
		}
	}
}

#gallery {
	-webkit-user-select: none;
	user-select: none;
	position: relative;

	.cover-wrapper {
		text-align: center;

		img {
			max-width: 100%;
			border: none;
			margin: 0;
			padding: 0;
		}
	}
}

#newsletter {
	padding-top: 2em;
	background: url('./img/newsletter.jpg') @white no-repeat;
	background-size: cover;
	background-position: center center;

	h3 {
		color: @white;
		text-align: center;
		line-height: 1.1em;
	}

	h4 {
		color: @white;
		text-align: center;
	}

	#newsletter-success {
		max-width: 48.125rem; /* 770/16 */
		margin: 1em auto 0;
		visibility: hidden;
		text-align: center;

		@media (min-width: (@mobile + 1)) {
			margin: 0 auto -1.25em;
		}
	}

	form[name="newsletter"] {
		max-width: 48.125em; /* 770/16 */
		margin: 0 auto;

		fieldset {
			flex: 1 0 auto;
			margin: 0 0.3125em; /* 5/16 */

			&[name="newsletter-submit"] {
				margin-top: .85em;

				button {
					width: 100%;
				}
			}
		}

		label {
			color: @white;
		}

		::placeholder {
			color: fade(@white, 50%);
		}

		input[type="text"],
		input[type="email"] {
			border-color: @white;
		}
	}
}

footer {
	background-color: @white;
	padding: 4em 0 1em;
	text-align: center;

	#froman {
		width: 17.3125em; /* 277/16 */
		margin: 0 auto 60px;

		.svg-froman {
			fill: @brown;
		}

		@media (max-width: @mobile) {
			width: 12.5em; /* 200/16 */
		}
	}

	nav {
		li {
			text-transform: uppercase;

			a {
				color: @brown;
			}

			@media (max-width: @mobile) {
				font-size: 1em; /* 20/16 */
				margin-bottom: .5em;
			}
		}
	}

	.social {
		margin-top: 20px;

		svg {
			margin-right: 10px;
			width: 20px;
			fill: @brown;

			@media (min-width: @mobile) {
				margin-right: 20px;
			}
		}

		a {
			color: @brown;
			font-size: 24px;
			letter-spacing: 2px;
		}
	}

	.instagram-link {
		cursor: default;
		font-family: @league;
		text-transform: uppercase;
	}

	#privacy-refund {
		color: @brown;
		font-size: 14px;
		text-align: center;
		margin-top: 10px;

		a {
			color: @brown;
			text-decoration: underline;
		}

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}

	#copyright {
		color: @brown;
		font-size: 14px;
		text-align: center;

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}
}

#newsletter-slider {
	display: none;
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	will-change: transform;
	transition: transform 300ms;
	z-index: 9999;
	background: @gray;
	box-shadow: 0 3px 10px @black;

	.close {
		position: absolute;
		right: 1rem;
		top: 0;
		font-size: 2.25rem;
		cursor: pointer;
	}

	.slide-up {
		transform: translateY(-100%);
	}

	h3 {
		color: @brown;
		text-align: center;
		line-height: 1.1em;
	}

	h4 {
		color: @brown;
		text-align: center;
	}

	#newsletter-success {
		max-width: 48.125rem; /* 770/16 */
		margin: 1em auto 0;
		visibility: hidden;
		text-align: center;

		@media (min-width: (@mobile + 1)) {
			margin: 0 auto -1.25em;
		}
	}

	form[name="newsletter-slider"] {
		max-width: 48.125em; /* 770/16 */
		margin: 0 auto;

		fieldset {
			flex: 1 0 auto;
			margin: 0 0.3125em; /* 5/16 */

			&[name="newsletter-slider-submit"] {
				margin-top: .85em;

				button {
					width: 100%;
				}
			}
		}
	}
}
