@import 'base.less';

.img-wrap {
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.title {
	background: @sky;
	padding: 1em 2em;
	text-align: center;

	svg {
		width: 100%;
		max-width: 9.375em; /* 150/16 */
	}
}

#video-wrap {
	overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

	iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

.lineup-image {
	padding: 2em;
}

.cta {
	margin-top: 2em;
	text-align: center;
}

#tickets-cta {
	display: inline-block;
	background: #e2c126;
	padding: 1em 3em;
	text-transform: uppercase;
	font-family: @proxima;
	font-weight: 700;
	font-size: 1.125em; /* 18/16 */
	color: @white;
	letter-spacing: 1px;
	box-shadow: 0 0 12px -3px #666;
}

.description {
	background-color: @caramel;
	max-width: 76.875em; /* 1230/16 */
	margin: 0 auto;
	padding: 1em 2em;

	h4 {
		text-align: center;
		color: @black;
	}

	p {
		color: @off-white;
	}
}

footer {
	background-color: @caramel;
	padding: 2em 0;
	text-align: center;

	#copyright {
		color: @black;
		font-size: 14px;
		text-align: center;
		margin-bottom: 0;

		@media (min-width: @mobile) {
			font-size: 16px;
		}
	}
}
